// COLOURS
$blue:          #273c75;
$midnight-blue: #192a56;
$dark-grey:     #333;
$grey:          #eee;
$red:           #e00000;
$green:         #79e000;
$yellow:        #fbc531;
$white:         #fff;
$black:         #000;

$primary:     $blue;
$secondary :  $dark-grey;
$tertiary:    $midnight-blue;

$success:    $green;
$info:       $primary;
$warning:    $yellow;
$danger:     $red;

// Complement
$border-color:    #d8d7d5;
$text-color:      $dark-grey;
$body-color:      $dark-grey;
$input-color:     $white;

// SIZES
$btn-height: 40px;
$input-height: 40px;
$input-height-lg: 60px;

// Gutter Padding
// $grid-gutter-width: 40px;

// FONTS
@import "mixins/strip-unit";
$font-family-base: 'Raleway', Arial, sans-serif;

  // Fz Bootstrap
  $font-size-base: 1rem /* 16px*/;
  $font-value-base: strip-unit($font-size-base);

  // Fz for mixin rem
  $font-size-base-px: (16px*$font-value-base) /* 1rem */;

// BREAK-POINTS
$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 1024px,
  lg: 1280px,
  xl: 1445px
) !default;

// Container
$container-max-widths: (
  sm: 1180px,
  md: 1190px,
  lg: 1200px,
  xl: 1210px
) !default;
