/* ---- Colors ---- */
$blue:          #003cff;
$midnight-blue: #192a56;
$dark-grey:     #333333;
$grey:          #f4f4f4;
$grey-10:       #d8d7d5;
$grey-20:       #D9D9D9; 
$grey-30:       #e5e5e5;
$grey-40:       #b3b3b3;
$grey-50:       #cccccc;
$red:           #e00000;
$green:         #56B03F;
$yellow:        #fbc531;
$orange:        #FD6B3C;
$white:         #fff;
$black:         #000;

// Main Colors
$primary:     $black;
$secondary:   $white;
$tertiary:    $blue;

// Info Colors
$success:    $green;
$info:       $primary;
$warning:    $yellow;
$danger:     $red;

// Complement Colors
$border-color:    $grey-50;
$text-color:      $black;
$body-color:      $text-color;
$input-color:     $white;

// Sizes
$btn-height: 50px;
$input-height: 50px;
$input-height-lg: 60px;

// Gutter Padding
$grid-gutter-width: 30px;

// Fonts
@import "mixins/strip-unit";
$font-family-base: 'Roboto', Arial, sans-serif;
//$font-family-alt: 'Raleway', Arial, sans-serif;

  // Fz Bootstrap
  $font-size-base: 1rem /* 16px*/;
  $font-value-base: strip-unit($font-size-base);

  // Fz for mixin rem
  $font-size-base-px: (16px*$font-value-base) /* 1rem */;

// Break-points
$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 1024px,
  lg: 1270px, // instead of 1280 due to Edge on Windows
  // xl: 1445px
  // xxl: 1445px
) !default;

// Container
$container-max-widths: (
  sm: 1215px,
  md: 1220px,
  lg: 1230px,
  // xl: 1230px,
  // xxl: 1320px
) !default;
