/* ---- Lists ---- */
ol, ul {
  padding-left: 18px;
}

// List Icons
.list-icon {
  li {
    &:before { @include fa; display: inline-block; margin-right: 8px; }
  }
  > li {
    &:before {
      @include fa; content: "\f1d1";
    }
    span { display: inline-block; width: 90%; vertical-align: top;}
    ul , ol {
      padding-left: 15px;
      > li {
        &:before {
          content: "\f1d0";
        }
      }
    }
  }
}
