@use "../mixins/bg-cover";
@use "../mixins/breakpoints";
@use "../mixins/ratio";
@use "../mixins/rem";
@use "../variables";

/* ---- Article ---- */
.article-tag {
    margin-bottom: rem.rem(12px);
}

.article-title {
    color: variables.$primary; margin-bottom: rem.rem(60px);
    @include breakpoints.max(xs){ margin-bottom: rem.rem(40px);}
}

.article-intro {
    font-size: rem.rem(18px); line-height: 1.5; margin-bottom: rem.rem(60px); margin-top: rem.rem(-48px);
    @include breakpoints.max(xs){ margin-bottom: rem.rem(40px); margin-top: rem.rem(-32px);}
}

.article-img {
    @include bg-cover.bgc(center, center, variables.$grey);
    @include ratio.ratio(790,370);

    @include breakpoints.max(xs){ 
        @include ratio.ratio(335,205);
    }
}