/* ---- CMS ---- */
.cms-wrap {
  padding: 50px 0;

  // h1 {
  //   @include icon(kernix)
  //   &:before { font-size: rem(40px); }
  // }

  // Title
  // h1 { font-size: rem(36px); margin-bottom: rem(40px);}
  // h2 { font-size: rem(24px); margin-bottom: rem(5px);}
  // h3 { font-size: rem(20px); margin-bottom: rem(5px);}
  // h4 { font-size: rem(18px); margin-bottom: rem(5px);}
  // h5 { font-size: rem(16px); margin-bottom: rem(5px);}
  // h6 { font-size: rem(14px); margin-bottom: rem(5px);}

  // Paragraphe
  p {}

  // List
  // ul { padding-left: rem(30px); margin-bottom: 0; list-style: none;
  //   li {
  //     &:before {
  //     content:''; width: 4px; height: 4px; display: inline-block; border-radius: 50%; background: @brand-secondary; margin-right: rem(6px); margin-top: rem(12px); vertical-align: top;}
  //   }
  // }
  ol {

  }

  // Table
  table {
    @extend .table;
    @extend .table-bordered;
  }
}
