/* ---- Contact ---- */
.contact-wrap {
    padding-bottom: rem(110px);
    @include max(sm){ padding-bottom: rem(60px);}
}

.contact-title {
    font-size: rem(42px); margin-bottom: rem(30px); line-height: 1.24;
    @include max(xs){ font-size: rem(28px); line-height: 1.36; margin-bottom: rem(20px);}
}

.contact-img { 
    @include ratio(480, 624);
}

.contact-form {
    p { margin-bottom: 0;}

    .wpcf7-not-valid-tip {
        color: $danger; font-size: rem(16px); margin-top: rem(10px); padding-left: rem(25px); position: relative;
        @include icon(close);
        &:before { position: absolute; top: 3px; left: 4px; z-index: 1; font-size: rem(12px);}
    }

    // Message
    div.wpcf7-validation-errors, div.wpcf7-acceptance-missing, div.wpcf7-aborted, div.wpcf7-mail-sent-ng, div.wpcf7-response-output {
        margin: 0 0 rem(35px) 0 !important; border: 0 !important; background: rgba($danger, .2); color: $danger; padding: rem(11px) rem(20px) !important;
        @include max(xs){ font-size: rem(14px); padding: rem(10px) rem(10px) !important; margin: 0 0 rem(30px) 0 !important;}
    }
      
    div.wpcf7-validation-sucess, div.wpcf7-mail-sent-ok, .wpcf7 form.sent .wpcf7-response-output {
        margin: 0 0 rem(35px) 0 !important; border: 0 !important; background: rgba($success, .2); color: $success; padding: rem(11px) rem(20px) !important;
        @include max(xs){ font-size: rem(14px); padding: rem(10px) rem(10px) !important; margin: 0 0 rem(30px) 0 !important;}
    }

    .form-md-group {
        margin-top: rem(30px);
    }

    .btn {
        @include max(xs){ width: 100%;}
    }
}

// Contact Form 7
.wpcf7-form {
    &.submitting {
        .btn { opacity: 0.5; pointer-events: none; }
    }
}