@use "../mixins/breakpoints";
@use "../mixins/ratio";
@use "../mixins/rem";
@use "../variables";

/* ---- 404 ---- */
.error-page, .error404 {
  display: flex; flex-direction: column; height: 100%;

  // Footer
  .footer-wrap {
    margin-top: auto;
  }
}

.error-wrap {
  padding: rem.rem(158px) 0;
  @include breakpoints.max(md){ padding: rem.rem(100px) 0;}
  @include breakpoints.max(sm){ text-align: center;}
  
  &:after {
    content: ''; display: block; clear: both;
  }
}

.error-subtitle {
  font-size: rem.rem(200px); font-weight: 600; line-height: 1; letter-spacing: 6px; -webkit-text-stroke: 2px rgba(variables.$black, 0.4); color: variables.$white;
  @include breakpoints.max(xs){ font-size: rem.rem(120px); letter-spacing: 3.6px;}
}

.error-title {
  font-size: rem.rem(36px); font-weight: 600; margin-bottom: rem.rem(16px); line-height: 1.29;
  @include breakpoints.max(xs){ font-size: rem.rem(28px); margin-bottom: rem.rem(8px);}
}

.error-text {
  font-size: rem.rem(21px); margin-bottom: rem.rem(32px); line-height: 1.52; color: rgba(variables.$black, 0.6);
  @include breakpoints.max(md){ font-size: rem.rem(18px); margin-bottom: rem.rem(24px)}
}

.error-img {
  @include ratio.ratio(480, 637);
}