/* ---- Maintenance ---- */
.maintenance-page /*, .page-maintenance*/ { 
    padding: rem(60px) 0; background: $primary; color: $white; text-align: center;
    @include max(sm){ text-align: center;}
    @include max(xs){ padding: rem(40px) 0;}
}

.maintenance-header-wrap { 
    margin-bottom: rem(100px);
    @media (max-width: 844px) and (orientation: landscape){ margin-bottom: rem(74px);}
}

.maintenance-logo { float: none; 
    img { display: inline-block;}
}

.maintenance-img {
    max-width: 307px; width: 100%; margin: 0 0 rem(20px); 
    @include max(xs){ max-width: 207px;}
}

.maintenance-title {
    font-size: rem(42px); line-height: 1.2; margin-bottom: rem(24px);
    @include max(xs){ font-size: rem(28px); margin-bottom: rem(12px);}
}

.maintenance-text { 
    font-size: rem(18px);
    @include max(xs){ margin-bottom: rem(50px);}
    @media (max-width: 844px) and (orientation: landscape){ margin-bottom: rem(50px);}
}

.maintenance-footer-wrap { 
    margin-top: auto; text-align: center;

    .maintenance-footer-title { font-size: rem(18px); margin-bottom: rem(16px); font-weight: 700;}
    .maintenance-socials-nav {
        ul {
            margin-bottom: 0;
            li {
                &:not(:last-child){ margin-right: rem(10px);}
                a { 
                    display: block; width: 44px; height: 44px; line-height: 43px; border-radius: 50%; background: rgba($white, .2); color: $white; font-size: rem(24px);
                    &:hover, &:focus { background: $white; color: $primary; text-decoration: none;}
                }
            }
        }
    }
}
