/* ---- Form Checkbox ---- */
.form-checkbox {
  label {
    padding-left: rem(30px); position: relative;

    // Square
    &:after {
      position: absolute; left: 0; top: 3px; width: 18px; height: 18px; border: 1px solid $border-color; content: ''; display: block;
    }
    @include icon(check);
    &:before { transition: 0.3s; opacity: 0; display: block; color: $primary; position: absolute; top: 7px; left: 3px; font-size: rem(8px); }
  }

  input[type="checkbox"] {
    display: inline; position: absolute; left: -9999px;
    // &:focus {
    //   + label {
    //     color: $primary;
    //   }
    // }
    &:checked {
      + label {
        &:before {
          opacity: 1;
        }
      }
    }
    + label {
     cursor: pointer; font-weight: 400; display: block; margin-bottom: 0;
     a { color: $text-color; text-decoration: underline;}
    }
  }
}