@use "../../mixins/rem";
@use "../../variables";
@use "../iconfont";

/* ---- Form Checkbox ---- */
.form-checkbox, .wpcf7-acceptance, .wpcf7-checkbox, .mc4wp-checkbox, .checkbox-label {
  .wpcf7-list-item { margin: 0;}
  label { margin-bottom: 0 !important;
    &.selected {
      input[type="checkbox"] {
        + span {
          &:before { background: variables.$primary; border-color: variables.$primary;}
          &:after { opacity: 1; }
        }
      }
    }
  }

  input[type="checkbox"] {
    display: inline; position: absolute; left: -9999px;
    &:focus {
      + label, + .wpcf7-list-item-label {
        color: variables.$text-color;
      }
    }

    // Accessibility
    &:focus {
      + label , + .wpcf7-list-item-label{
        .html-focus & {
          outline: auto;
        }
      } 
    }

    &:checked {
      + label , + .wpcf7-list-item-label{
        &:after { opacity: 1; }
        &:before { border-color: variables.$primary; background-color: variables.$primary; }
      }
    }
    + label, + .wpcf7-list-item-label, + span {
      cursor: pointer; font-weight: 400; color: variables.$text-color; margin-bottom: 0; position: relative; padding-left: rem.rem(30px); display: block; font-size: rem.rem(14px); line-height: 1.43;

     a {
       color: inherit; text-decoration: underline;
     }
     &:before {
       content: '';
       display: inline-block; width: 18px; height: 18px; margin: rem.rem(1px) rem.rem(10px) 0 0; vertical-align: top; cursor: pointer; background-color: transparent; border: 1px solid variables.$grey-40; border-radius: 0; position: absolute; -webkit-transition: background-color 0.4s linear; -o-transition: background-color 0.4s linear; -moz-transition: background-color 0.4s linear; transition: background-color 0.4s linear; top: 0; left: 0;
     }
     @include iconfont.icon(check,after);
     &:after {
       transition: 0.3s; opacity: 0; display: block; color: variables.$white; position: absolute; font-size: rem.rem(8px); top: 5px; left: 3px;
     }
    }
  }
}
