/* ---- Select ---- */
// Reset Select IE
// Appeareance None
select::-ms-expand { display: none; }
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  option {
    color: $black;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
// Reboot IE Select normal
@media all and (min-width:0\0) and (min-resolution:.001dpcm) {
  .form-select select { padding-right: rem(5px); }
  .form-select:after { display: none; }
}

// Form Select
.form-select {
 position: relative; background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.42 0.300048L6 4.88005L10.59 0.300049L12 1.71005L6 7.71005L-6.16331e-08 1.71005L1.42 0.300048Z' fill='%23626262'/%3E%3C/svg%3E%0A"); background-repeat: no-repeat; background-position: right 22px center; background-size: 12px 8px; padding-right: rem(40px); color: $text-color; border-radius: 0; border-color: $border-color; min-height: $input-height; padding-left: rem(20px);
  &:-moz-focusring { /*color: transparent;*/ text-shadow: 0 0 0; }
  &:focus, &:focus-visible { box-shadow: none; border-color: $primary; outline: auto;}
  &:focus::-ms-value { background: $input-color; color: $text-color; }
  &:required:invalid {
    color: transparentize($dark-grey,0.5);
  }
  option {
    &:invalid { color: transparentize($dark-grey,0.5);}
    &[selected][disabled] {
      display: none;
    }
  }
}

// Choices Select (Custom Select)
// .choices__inner {
//   @extend .form-control;
// }
// .choices__placeholder {
//   opacity: 1;
// }
// .choices__inner {
//   background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEyIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xLjQxIDAuNTg5OTk2TDYgNS4xN0wxMC41OSAwLjU4OTk5NkwxMiAyTDYgOEwwIDJMMS40MSAwLjU4OTk5NloiIGZpbGw9IiM5OTk5OTkiLz4KPC9zdmc+Cg=="); background-color: $input-color; background-repeat: no-repeat; background-position: right 15px center; background-size: 12px 8px; 
//   &:hover, &:focus {
//     background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEyIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xLjQxIDAuNTg5OTk2TDYgNS4xN0wxMC41OSAwLjU4OTk5NkwxMiAyTDYgOEwwIDJMMS40MSAwLjU4OTk5NloiIGZpbGw9IiM5OTk5OTkiLz4KPC9zdmc+Cg==");  background-color: $input-color; background-repeat: no-repeat; background-position: right 15px center; background-size: 12px 8px; 
//   }
// }
// .choices__list--single {
//   padding: rem(5px) 0;
// }
// .choices[data-type*=select-one]::after {
//   display: none;
// }
// .choices__list {
//   &.choices__list--dropdown {
//     border: 0; margin-top: 0; border-radius: 0;
//     box-shadow: 0px 10px 25px 0px rgba($black, 0.10), 0px 10px 10px 0px rgba($black, 0.04);
//     padding: rem(8px) 0;

//     .choices__item {
//       font-size: rem(16px); font-weight: 400; padding: rem(13px) rem(16px); background: $white; transition: .3s;
//       &:hover, &.is-selected {
//         background: $grey; font-weight: 700; color: $primary
//       }
//     }
//   }
// }

// Select Dropdown
// .select-dropdown  {

//   .form-select {
//       position: absolute !important;
//       width: 1px !important;
//       height: 1px !important;
//       padding: 0 !important;
//       margin: -1px !important;
//       overflow: hidden !important;
//       clip: rect(0, 0, 0, 0) !important;
//       white-space: nowrap !important;
//       border: 0 !important;
//   } 

//   .btn-dropdown {
//     width: 100%; font-weight: 400; line-height: 1.5; color: var(--text-color); background-color: $white; padding: rem(5px) rem(40px) rem(5px) rem(12px); text-align: left;  border-radius: 0; border: 1px solid $border-color; min-height: $input-height; padding-left: rem(20px); background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.42 0.300048L6 4.88005L10.59 0.300049L12 1.71005L6 7.71005L-6.16331e-08 1.71005L1.42 0.300048Z' fill='%23626262'/%3E%3C/svg%3E%0A");background-repeat: no-repeat; background-position: right 22px center;

//     &::after {
//       display: none;
//     }
  
//     &:hover, &:active {
//       background-color: $white; border-color: #ced4da; color: $text-color;
//     }
//     &:focus { box-shadow: none; border-color: $primary; outline: none;  background-color: $white;}
//     &:focus::-ms-value { background: $input-color; color: $text-color; }
//     &:required:invalid {
//       color: transparentize($dark-grey,0.5);
//     }
//     option {
//       &:invalid { color: transparentize($dark-grey,0.5);}
//       &[selected][disabled] {
//         display: none;
//       }
//     }
//   }
    
// }


