/* ---- Input File ---- */
// .form-file {
//   width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1; display: none !important;
//   + label {
//     font-size: rem(14px); font-weight: 700; text-overflow: ellipsis; white-space: nowrap; cursor: pointer; display: inline-block; overflow: hidden; padding: rem(10px) rem(20px);  color: $primary; border: 1px solid $primary; background-color: $white; padding: 0;
//     &:hover {
//       border-color: $secondary;
//       strong { background-color: $secondary; }
//     }
//     strong { height: 100%; color: $white; background-color: $primary; display: inline-block; padding: rem(10px) rem(20px); }
//     svg { width: 16px; height: 16px; vertical-align: middle; fill: currentColor; margin-top: rem(-4px); margin-right: rem(4px);}
//     span { width: 200px; min-height: 32px; display: inline-block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; vertical-align: top; background: $white; padding: rem(10px) rem(20px); }
//   }
//   &:focus , &.has-focus{
//     + label {
//       outline: none; border-color: $secondary;
//     }
//   }
// }

// .custom-file-input {
//   input {
//     @extend .visually-hidden;
//   }

//   .btn {
//     border-radius: 4px 0 0 4px; min-height: 38px; padding: 6px 12px; white-space: nowrap;
//   }
//   .form-label {
//     display: flex; align-items: center;
//     flex-flow: nowrap; 
//   }
//   .files-chosen {
//     border: 1px solid $grey-20; border-radius: 0 4px 4px 0; min-height: 38px; padding: 6px 10px 6px 12px; flex-grow: 1; white-space: nowrap;  overflow: hidden; text-overflow: ellipsis;
//   }
// }