
// Input Radio
.form-radio {
  input[type="radio"] {
    display: inline; position: absolute; left: -9999px;
    // &:focus {
    //   + label {
    //     color: $primary;
    //   }
    // }
    &:checked {
      + label {
        .icon {
          &:before { opacity: 1; }
        }
      }
    }
    + label {
     font-weight: 500; cursor: pointer; display: block; margin-bottom: 0;
     .icon {
      display: inline-block; width: 14px; height: 14px; margin: rem(3px) rem(5px) 0 0; vertical-align: top; cursor: pointer; border-radius: 50%; background-color: $white; border: 1px solid transparentize($dark-grey,0.5); position: relative; -webkit-transition: background-color 0.4s linear; -o-transition: background-color 0.4s linear; -moz-transition: background-color 0.4s linear; transition: background-color 0.4s linear;
      &:before { transition: 0.3s; content: ''; display: block; width: 6px; height: 6px; background-color: $primary; border-radius: 50%; opacity: 0; position: absolute; top: 50%; transform: translateY(-50%); right: 3px; }
     }
     .label-align { display: inline-block; width: calc(100% - 30px); }
    }
  }
}
