/* ---- Datepicker ---- */
.datepicker {
  padding-right: rem(50px) !important;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE1IDJIMTlDMTkuMjY1MiAyIDE5LjUxOTYgMi4xMDUzNiAxOS43MDcxIDIuMjkyODlDMTkuODk0NiAyLjQ4MDQzIDIwIDIuNzM0NzggMjAgM1YxOUMyMCAxOS4yNjUyIDE5Ljg5NDYgMTkuNTE5NiAxOS43MDcxIDE5LjcwNzFDMTkuNTE5NiAxOS44OTQ2IDE5LjI2NTIgMjAgMTkgMjBIMUMwLjczNDc4NCAyMCAwLjQ4MDQzIDE5Ljg5NDYgMC4yOTI4OTMgMTkuNzA3MUMwLjEwNTM1NyAxOS41MTk2IDAgMTkuMjY1MiAwIDE5VjNDMCAyLjczNDc4IDAuMTA1MzU3IDIuNDgwNDMgMC4yOTI4OTMgMi4yOTI4OUMwLjQ4MDQzIDIuMTA1MzYgMC43MzQ3ODQgMiAxIDJINVYwSDdWMkgxM1YwSDE1VjJaTTEzIDRIN1Y2SDVWNEgyVjhIMThWNEgxNVY2SDEzVjRaTTE4IDEwSDJWMThIMThWMTBaIiBmaWxsPSIjOTk5OTk5Ii8+Cjwvc3ZnPgo=') !important;
  background-repeat: no-repeat !important;
  background-position: right 15px center !important;
  background-size: 18px 18px !important;
}

// Custom datepicker from flatpickr
.flatpickr-calendar {
  box-shadow: 0px 10px 25px 0px rgba($black, 0.10), 0px 10px 10px 0px rgba($black, 0.04); border: 0; border-radius: 0;
}

.flatpickr-months .flatpickr-next-month.flatpickr-prev-month, .flatpickr-months .flatpickr-prev-month.flatpickr-prev-month , .flatpickr-months .flatpickr-next-month.flatpickr-next-month, .flatpickr-months .flatpickr-prev-month.flatpickr-next-month{ padding: 0; width: 30px; line-height: 34px;}

.flatpickr-months .flatpickr-next-month.flatpickr-prev-month, .flatpickr-months .flatpickr-prev-month.flatpickr-prev-month , .flatpickr-months .flatpickr-next-month.flatpickr-next-month, .flatpickr-months .flatpickr-prev-month.flatpickr-next-month {
  svg { display: none;}
  &:hover { color: var(--primary);}
}

.flatpickr-months .flatpickr-next-month.flatpickr-prev-month, .flatpickr-months .flatpickr-prev-month.flatpickr-prev-month {
  @include icon(arrow-left);
}

.flatpickr-months .flatpickr-next-month.flatpickr-next-month, .flatpickr-months .flatpickr-prev-month.flatpickr-next-month {
  @include icon(arrow-right);
}

.flatpickr-current-month .flatpickr-monthDropdown-months, .flatpickr-current-month input.cur-year { font-weight: 400; text-transform: capitalize;}

span.flatpickr-weekday, .flatpickr-day { color: $text-color;}
.flatpickr-day.flatpickr-disabled, .flatpickr-day.flatpickr-disabled:hover, .flatpickr-day.nextMonthDay, .flatpickr-day.notAllowed, .flatpickr-day.notAllowed.nextMonthDay, .flatpickr-day.notAllowed.prevMonthDay, .flatpickr-day.prevMonthDay { color: $grey-10;}

.flatpickr-day.today {
  border-color: $grey-10;
}

.flatpickr-day.today:focus, .flatpickr-day.today:hover, .flatpickr-day.today:focus, .flatpickr-day.today:hover{
  border-color: $grey-10;
  background: $grey-10;
}

.flatpickr-months .flatpickr-next-month:hover svg, .flatpickr-months .flatpickr-prev-month:hover svg {
  fill: var(--primary);
}

.flatpickr-day, span.flatpickr-weekday{ 
  border-radius: 0; font-size: rem(16px);
}

.flatpickr-day.endRange, .flatpickr-day.endRange.inRange, .flatpickr-day.endRange.nextMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.endRange:focus, .flatpickr-day.endRange:hover, .flatpickr-day.selected, .flatpickr-day.selected.inRange, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.selected:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange, .flatpickr-day.startRange.inRange, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.startRange:focus, .flatpickr-day.startRange:hover { border-color: var(--primary); background: var(--primary);}