/* ---- Form Control ---- */
label { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

textarea {
  &.form-control { min-height: 150px; padding-top: rem(15px);}
}

.form-control {

  height: $input-height; background: $input-color; box-shadow: none; font-size: rem(16px); -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; appearance: none; color: $text-color; /*caret-color: $primary;*/  
  &:focus { box-shadow: none; border-color: $primary; color: $text-color; }

  &::-webkit-input-placeholder {
    color: $text-color; opacity: 0.5 !important;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $text-color; opacity: 0.5 !important;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $text-color; opacity: 0.5 !important;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $text-color; opacity: 0.5 !important;
  }
  &:-webkit-autofill {
   -webkit-box-shadow: 0 0 0px 1000px $white inset;
   transition: background-color 5000s ease-in-out 0s;
   // -webkit-text-fill-color: $white;
    &:hover, &:focus {
     -webkit-box-shadow: 0 0 0px 1000px $white inset;
     transition: background-color 5000s ease-in-out 0s;
     // -webkit-text-fill-color: $white;
   }
  }
  &[disabled] {
    background: transparentize($dark-grey,0.8); color: transparentize($text-color,0.5); cursor: not-allowed;
  }

  // Datepicker
  &.datepicker { cursor: pointer; max-width: 100%; }
}

// .input-group-addon {
//   background: $input-color; color: $white; border: 0; width: 40px; padding: 0;
//   button { background: none; border: none; width: 40px; height: $input-height; line-height: 42px; padding: 0; font-weight: bold; font-size: rem(16px); }
//   .blue & { background: $text-color }
// }

// Input file 
input[type=file]::file-selector-button {
  color: $black;
}

input[type=file] {
  height: auto;
}