// COLOURS
@blue:          #273c75;
@midnight-blue: #192a56;
@dark-grey:     #333;
@grey:          #eee;
@red:           #e00000;
@green:         #79e000;
@yellow:        #fbc531;
@white:         #fff;
@black:         #000;

@brand-primary: @blue;
@brand-secondary: @dark-grey;
@brand-tertiary: @midnight-blue;

@brand-success:    @green;
@brand-info:       @brand-primary;
@brand-warning:    @yellow;
@brand-danger:     @red;

@border-color:    #d8d7d5;
@text-color:      @dark-grey;
@input-color:     @white;


// SIZES
@btn-height: 40px;
@input-height: 40px;
@input-height-lg: 60px;

// FONTS
@font-family-sans-serif: 'Raleway', Arial, sans-serif;
@font-size-base: 14px;
@font-size: @font-size-base;

// BREAK-POINTS
@screen-xs:                  480px;
@screen-xs-min:              @screen-xs;
@screen-phone:               @screen-xs-min;

@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
@screen-tablet:              @screen-sm-min;

@screen-md:                  1024px;
@screen-md-min:              @screen-md;
@screen-desktop:             @screen-md-min;

@screen-lg:                  1200px;    // Container
@screen-lg-min:              1280px;    // Break Point
@screen-lg-desktop:          @screen-lg-min;

@screen-xl:                  1400px;
@screen-xl-min:              1445px;
@screen-xl-desktop:          @screen-xl-min;

@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);
@screen-lg-max:              (@screen-xl-min - 1);
