/* Main CSS Style guide */
.body { height: 100% }
:root {
  --primary-guide: #5480f1;
}
code[class*=language-], pre[class*=language-] { background: transparent; padding: 0; margin: 0; white-space: pre-wrap;}
/*  Header */
.header-wrap { float: left; width: 300px; position: fixed; left: 0; top: 0; bottom: 0; z-index: 10; background: rgba(23, 24, 32, .95); color: var(--white); padding: 0; }

.header-block { padding: 1rem 1rem 2rem;}
.header-title { font-size: 34px; font-weight: 600; margin-bottom: 0.5rem; }
.header-link-back { color: var(--primary-guide); transition: 0.3s; display: inline-block;}

.header-link-back i { margin-right: 7px;}
.header-link-back:hover , .header-link-back:focus { color: var(--primary-guide); text-decoration: none; transform: translateX(-10px);}

.header-nav ul { border-top: 1px solid rgba(255, 255, 255, 0.55); border-bottom: 1px solid rgba(255, 255, 255, 0.55);}
.header-nav ul li { margin-bottom: 0; }
.header-nav ul li a { padding: 1rem; display: block; color: var(--white);}
.header-nav ul li a:hover, .header-nav ul li a:focus, .header-nav ul li a.active { text-decoration: none; color: var(--white); background: var(--primary-guide); }

.header-nav ul li + li { border-top: 1px solid rgba(255, 255, 255, 0.55); }

/* Main */
.main-wrap { float: left; padding-left: 300px;}
.section { display: table; table-layout: fixed; width: 100%; border-top: 1px solid #dfe1e8; }
.title-section { margin-bottom: 1.8rem; font-weight: 700; font-size: 2rem; }
.title-section:after {
  content: ''; width: 25px; height: 2px; display: block; background: var(--dark); margin-top: 10px;
}
.title-subsection { margin-top: 1.5rem;  margin-bottom: 1rem; font-weight: 600; font-size: 1.5rem;}
.col { background: var(--white); display: table-cell; padding: 2rem; vertical-align: top; }
.col + .col { background-color: #f7f7f9; padding: 5.5rem 2rem 2rem;}

/* Main Colors Section */
.bg-color { width: 150px; height: 150px; line-height: 150px; color: var(--white);   display: inline-block; text-align: center; vertical-align: bottom; margin-right: 20px;}
.bg-color-mini { width: 100px; height: 100px; line-height: 100px; color: var(--white); display: inline-block; text-align: center; vertical-align: bottom; margin-right: 20px;}
.bg-primary { background: var(--primary);}
.bg-secondary { background: var(--secondary);}
.bg-tertiary { background: var(--tertiary);}
.bg-success { background: var(--success);}
.bg-info { background: var(--info);}
.bg-warning { background: var(--warning);}
.bg-danger { background: var(--danger);}

/* Form */
.form-file { width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1; display: none !important; }
.form-file + label { font-size: .875rem; font-weight: 700; text-overflow: ellipsis; white-space: nowrap; cursor: pointer; display: inline-block; overflow: hidden; padding: .625rem 1.25rem; color: var(--primary); border: 1px solid var(--primary); background-color: var(--white); padding: 0; }
.form-file + label:hover { border-color: var(--secondary); }
.form-file + label:hover strong { background-color: var(--secondary); }
.form-file + label strong { height: 100%; color: var(--white); background-color: var(--primary); display: inline-block; padding: .625rem 1.25rem; }
.form-file + label svg { width: 16px; height: 16px; vertical-align: middle; fill: currentColor; margin-top: -.25rem; margin-right:
.25rem; }
.form-file + label span { width: 200px; min-height: 32px; display: inline-block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; vertical-align: top; background: var(--white); padding: .625rem 1.25rem; }
.form-file:focus + label,
.form-file.has-focus + label { outline: none; border-color: var(--secondary); }

/* Datepicker */
#datetimepickerinline { max-width: 300px; width: 100%;}

/* Liste */
.list-icon li:before { display: inline-block; font: normal normal normal 14px/1 Material-Design-Iconic-Font; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; display: inline-block; margin-right: .5rem; }
.list-icon>li:before { display: inline-block; font: normal normal normal 14px/1 Material-Design-Iconic-Font; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: "\f1f1"; }
.list-icon>li span { display: inline-block; width: calc( 100% - 25px ); vertical-align: top; }
.list-icon>li ol, .list-icon>li ul { padding-left: .9375rem; }
.list-icon>li ol>li:before, .list-icon>li ul>li:before { content: "\f1f2"; }
