<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Style Guide</title>

  <!-- Styles -->
  <link rel="stylesheet" href="/../../../css/bootstrap.min.css" />
  <link rel="stylesheet" href="/../../../css/bootstrap-theme.min.css" />
  <link rel="stylesheet" href="/../../../css/font-awesome.min.css" />
  <link rel="stylesheet" href="/../../../css/theme.css" />
  <link href="css/anime.css" rel="stylesheet" type="text/css" />
  <link href="css/styles.css" rel="stylesheet" type="text/css" />

</head>

<body data-spy="scroll" data-target="#navbar">
  <div class="detail m-scene" id="main">
    <div class="m-detail-layout">
      <div class="m-aside scene_element scene_element--fadein">
        <div class="aside_title">
          <ul class="list-unstyled">
            <li class="logo"><a href="/" class="new-era"><i class="fa fa-empire"></i></a></li>
            <li><a href="index.html" class="m-button">Home</a></li>
            <li><a href="css.html">Reboot CSS</a></li>
            <li><a href="js.html">Javascript</a></li>
          </ul>
        </div>
      </div>
      <div class="m-right-panel m-page scene_element white scene_element--fadeinup scene_element--fadeinright-wide">
        <div class="right-panel_top m-highlight">
          <div class="m-header">
            <div class="m-breadcrumb" itemprop="breadcrumb">
              <h1 class="m-type-display-1">
                  Reboot CSS
                </h1>
            </div>

          </div>
        </div>

        <div class="container">
          <div class="row">

            <div class="col-sm-9">
              <div id="button">
                <h1 class="page-header">Button</h1>

                <h3>Button</h3>
                <button type="" class="btn">btn</button>
                <button type="" class="btn btn-primary">btn btn-primary </button>
                <button type="" class="btn btn-secondary">btn btn-secondary </button>
                <button type="" class="btn btn-tertiary">btn btn-tertiary </button>

                <h3>Button link</h3>
                <a href="" class="link">btn</a>
                <a href="" class="btn">btn</a>
                <a href="" class="btn btn-primary">btn btn-primary </a>
                <a href="" class="btn btn-secondary">btn btn-secondary </a>
                <a href="" class="btn btn-tertiary">btn btn-tertiary </a>
              </div>
              <div id="input">
                <h1 class="page-header">Input</h1>
                <div> .form-control</div>
                <input type="text" name="" value="" class="form-control" placeholder="input text">
                <h3>Textarea</h3>
                <div> .form-control</div>
                <textarea name="" class="form-control"></textarea>
              </div>

              <div id="check">
                <h1 class="page-header">Checkbox et Radio</h1>
                <form>
                  <div class="form-radio">
                    <input type="radio" name="radio[]" value="" id="radio">
                    <label for="radio"><span class="icon"></span> <span>Titre </span></label>
                  </div>
                  <div class="form-radio">
                    <input type="radio" name="radio[]" value="" id="radio1">
                    <label for="radio1"><span class="icon"></span> <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></label>
                  </div>
                  <div class="form-radio">
                    <input type="radio" name="radio[]" value="" id="radio2">
                    <label for="radio2"><span class="icon"></span> <span class="label-align">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></label>
                  </div>
                </form>
                <form>
                  <div class="form-checkbox">
                    <input type="checkbox" name="checkbox[]" value="" placeholder="" id="checkbox">
                    <label for="checkbox"><span class="icon"></span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem perferendis odio et debitis mollitia aspernatur nobis ab sint sapiente maiores dignissimos, necessitatibus, deleniti similique totam saepe tempore amet
                      optio recusandae. </label>
                  </div>
                  <div class="form-checkbox">
                    <input type="checkbox" name="checkbox[]" value="" placeholder="" id="checkboxText">
                    <label for="checkboxText"><span class="icon"></span> <span class="label-align">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem perferendis odio et debitis mollitia aspernatur nobis ab sint sapiente maiores dignissimos, necessitatibus, deleniti similique totam saepe tempore amet optio recusandae. </span></label>
                  </div>
                </form>
              </div>

              <div id="select">
                <h1 class="page-header">Select</h1>
                <div class="form-select">
                  <select name="" class="form-control">
                    <option value="">Text</option>
                    <option value="">Text</option>
                    <option value="">Text</option>
                    <option value="">Text</option>
                  </select>
                </div>
              </div>

              <div id="formulaire">
                <h1 class="page-header">Formulaire</h1>
                <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <input type="file" name="file-7[]" id="file-7" class="inputfile inputfile-6" data-multiple-caption="{count} files selected" multiple="">
                    <label for="file-7"><span></span> <strong><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg> Sélect. fichiers</strong></label>
                  </div>
                  <div class="checkbox">
                    <div class="form-checkbox">
                      <input type="checkbox" name="" value="" placeholder="" id="checkbox2">
                      <label for="checkbox2"><span class="icon"></span> Check me out </label>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <div class="checkbox">
                        <div class="form-checkbox">
                          <input type="checkbox" name="" value="" placeholder="" id="checkbox3">
                          <label for="checkbox3"><span class="icon"></span> Check me out </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                  </div>
                </form>
              </div>

              <div id="datepicker">
                <h1 class="page-header">Datepicker</h1>
                <div class="datetime">
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <div id="datetimepickerinline"></div>
                </div>
              </div>

              <div id="titre">
                <h1 class="page-header">Titre</h1>
                <h1>Titre h1</h1>
                <h2>Titre h2</h2>
                <h3>Titre h3</h3>
                <h4>Titre h4</h4>
                <h5>Titre h5</h5>
              </div>
              <div id="paragraphe">
                <h1 class="page-header">Paragraphe</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas odio veniam exercitationem cumque inventore asperiores, eaque hic fugit iusto sit sed culpa, ullam pariatur ipsum, voluptate? Et quis dolorem, libero.</p>
              </div>

              <div id="liste">
                <h1 class="page-header">Liste</h1>
                <ul>
                  <li>list
                    <ul>
                      <li>list</li>
                      <li>list</li>
                      <li>list</li>
                      <li>list</li>
                    </ul>
                  </li>
                  <li>list</li>
                  <li>list</li>
                  <li>list</li>
                </ul>
                <ul class="list-custom">
                  <li>list
                    <ul>
                      <li>list</li>
                      <li>list</li>
                      <li>list</li>
                      <li>list</li>
                    </ul>
                  </li>
                  <li>list</li>
                  <li>list</li>
                  <li>list</li>
                </ul>
                <ol>
                  <li>list
                    <ul>
                      <li>list</li>
                      <li>list</li>
                      <li>list</li>
                      <li>list</li>
                    </ul>
                  </li>
                  <li>list</li>
                  <li>list</li>
                  <li>list</li>
                </ol>
              </div>

              <div id="table">
                <h1 class="page-header">Table</h1>
                <table class="table">
                  <caption>table title and/or explanatory text</caption>
                  <thead>
                    <tr>
                      <th>header</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>data</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
            <div class="col-sm-3">

              <div id="navbar" data-spy="affix" class="block-affix">
                <ul class="nav nav-pills nav-stacked">
                  <li><a href="#button">Button</a></li>
                  <li><a href="#input">Input</a></li>
                  <li><a href="#check">Checkbox et Radio</a></li>
                  <li><a href="#select">Select</a></li>
                  <li><a href="#formulaire">Formulaire</a></li>
                  <li><a href="#titre">Titre</a></li>
                  <li><a href="#paragraphe">Paragraphe</a></li>
                  <li><a href="#liste">Liste</a></li>
                  <li><a href="#table">Tableau</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Scripts -->
    <script src="/../../../js/all.js"></script>
    <script src="/../../../js/main.js"></script>

    <script type="text/javascript">
      $(document).ready(function() {
        var headerHeight = $('.m-highlight').innerHeight();
        var footerHeight = $('.footer-wrap').innerHeight();
        var galHeight = $('.workshop-gallery-wrap').innerHeight() + 130;
        var FfHeight = footerHeight + galHeight;
        $('.block-affix').affix({
          offset: {
            top: headerHeight,
            bottom: FfHeight
          }
        }).on('affix.bs.affix', function() {
          $(this).css({});
        }).on('affix-bottom.bs.affix', function() {
          $(this).css('bottom', 'auto');
        });

        $("#navbar ul li a[href^='#']").on('click', function(e) {

          // prevent default anchor click behavior
          e.preventDefault();

          // animate
          $('html, body').animate({
            scrollTop: $(this.hash).offset().top
          }, 300, function() {

            // when done, add hash to url
            // (default click behaviour)
            window.location.hash = this.hash;
          });

        });

        var alert = $('#alert');
        alert.click(function(event) {
          swal({
            title: "Error!",
            text: "Here's my error message!",
            type: "error",
            confirmButtonText: "Cool"
          });
        });
        $('body').scrollspy({
          target: '#navbar'
        })
        $('[data-spy="scroll"]').each(function() {
          var $spy = $(this).scrollspy('refresh')
        })
        $('#datetimepickerinline').datetimepicker({
          inline: true,
          sideBySide: true,
          locale: 'fr',
          format: 'DD.MM.YYYY'
        });
      });
    </script>

</body>

</html>
