<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Style Guide</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/../../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="/../../../css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/../../../css/font-awesome.min.css" />
    <link rel="stylesheet" href="/../../../css/theme.css" />
    <link href="css/anime.css" rel="stylesheet" type="text/css" />
    <link href="css/styles.css" rel="stylesheet" type="text/css" />

  </head>
  <body>
    <div class="index m-scene" id="main">
      <div class="m-landing-layout">
        <div class="header-wrap-style-guide">
          <a href="/" class="new-era"><i class="fa fa-empire"></i></a>
          <h2>Style Guide</h2>
        </div>
        <div class="m-page scene_element scene_element--fadeinup">
          <div class="m-segment">
            <div class="segment_content">
              <h2 class="title-obi-wan"><a href="css.html"> Reboot CSS</a>
              </h2>
              <p class="description"> Reboot CSS est une collection spécifique d'éléments CSS pour démarrer rapidement un projet. Une base élégante, cohérente et simple qui se base sur Bootstrap. </span></p>
            </div>
          </div>
          <div class="m-segment">
            <div class="segment_content right">
              <h2 class="title-obi-wan"><a href="js.html">Javascript</a>
              </h2>
              <p class="description">Javascript regroupe toutes les ...</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Scripts -->

    <script src="/../../../js/all.js"></script>
    <script src="/../../../js/main.js"></script>

  </body>
</html>
