/* ---- Slider ---- */
.slider {
  &.slider-horizontal {
    width: 100%;
    margin-top: 30px;
    .slider-track {
      height:5px; background:#dfdedb; box-shadow:none;
      .slider-handle { opacity:1; background:white; border:1px solid #d8d6d3; position: relative;
        &:before{
          .custom-font();
          content: "\e01b";
          position: absolute;
          top: 4px;
          left: 3px;
          font-size: 10px;
          color: #d7d5d2;
        }
      }
    }
    .slider-selection { background:@input-color; }
    .tooltip.tooltip-main.top { margin-top: -35px;}
  }
}
