// General rules
html { height:100%; background:white; }
body {
  font-family: @main-font;
  font-stretch: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6 { color:#333; }
img { max-width: 100%; }
a {
  color:@blue;
  &.page-link { color:@blue; text-decoration:underline; }
  &.underlined {
    border-bottom:1px solid;
    &:hover { text-decoration:none }
  }
  &.see-more {
    &:after { content:"\00BB" /* » */; display:inline-block; padding-left:5px; }
  }
  &.fat-arrow-link {
    display:block; padding:25px 35px; background:@text-color; color:white; font-size:18px; .clearfix();
    span { display:inline-block; vertical-align:middle; }
    &:after { .fa(); content:"\f105"; font-size:50px; line-height:.8; display:inline-block; float:right; }
    .xs({
      font-size:14px; padding-left:20px;
      &:after { font-size:45px; margin-top:-9px }
      br { display:none }
      });
  }
  &.form-link { font-size:12px; color:white; font-style:italic; text-decoration:underline; font-weight:normal; }
}
p {
  font-size:14px;
  &.heading {
    font-size:20px; font-weight:bold;
    .xs({ font-size:15px; line-height:1.5; });
  }
}
[aria-hidden] { display:none }

.container-fixed { width:@screen-md; margin:0 auto; padding:0 15px; .clearfix(); }
.container {
  @media (min-width: @screen-sm-min) {
    width: @screen-sm;
  }
  @media (min-width: @screen-md-min) {
    width: @screen-md;
  }
  @media (min-width: @screen-lg-min) {
    width: @screen-lg;
  }
}

// Form elements
label { .user-select(none); cursor:pointer; }
textarea {
  &.form-control { min-height: 150px;}
}
.form-control {
  height:@input-height;
  background:@input-color;
  box-shadow:none;
  font-size:16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  &:focus {
    box-shadow:none;
    border-color: @main-color;
  }
  &::-webkit-input-placeholder {
    // color: #eee;
  }
}
.input-group-addon {
  background:@input-color; color:white; border:0; width:40px; padding:0;
  button { background:none; border:none; width:40px; height:@input-height; line-height:42px; padding:0; font-weight:bold; font-size:16px; }
  .blue & { background:@blue }
}

.datetime {
  position:relative;
  // &:after { .custom-font(); content:"w"; position:absolute; color:@main-color; right:15px; top:11px; font-size:27px; pointer-events: none; cursor: pointer;}
  &:after { font: normal normal normal 14px/1 FontAwesome; content: "\f073"; position:absolute; color:@main-color; right:15px; top:11px; font-size:19px; pointer-events: none;}
  .form-control { cursor: pointer;}
}

.bootstrap-datetimepicker-widget {
  width:100%; max-width: 250px;
  right: 0 !important;
  left:auto !important;
  .table-condensed { width:100%; }
  .prev, .next { color:@main-color; cursor: pointer;}
  .picker-switch { text-align:center; text-transform:capitalize }
  .dow { text-align:center; font-weight:400; border-bottom:1px solid @main-color; }
  td {
    text-align:center; .transition-duration(.1s);
    &.today { background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAMklEQVQYV2NkwAM+9DD8Z8QlD5IEyWFVAJPEqgBZEkMBuiSKAmyScAW4JMEK8EmCFAAAQx4T4VdjOZwAAAAASUVORK5CYII=') right bottom no-repeat; }
    &.active { background-color:@main-color !important; color:white }
    &:hover { background-color:@grey; cursor:pointer; }
  }
}

// Custom Select
.selectpicker {
  &.blue {
    + .bootstrap-select {
      .btn .caret { background:@blue; }
    }
  }
  + .bootstrap-select {
    background:@input-color;
    .border-radius();
    color:black;
    .btn {
      background:none; color:@input-color !important; border:0; text-shadow:none; height:@input-height; box-shadow:none;
      .caret {
        display:inline-block; top:0; right:0; background:@input-color; width:40px; height:@input-height; border:none; margin:0; border-radius:0 3px 3px 0;
        &:before {
          content:"\f107";
          .fa();
          color:white;
          font-size:35px;
          line-height:@input-height;
        }
      }
    }
    .dropdown-menu {
      margin-top:-2px; border-radius:0; background:@input-color; padding:0;
      li {
        font-size:16px;
        a {
          padding-top:6px; padding-bottom:6px;
          &:focus { outline:none }
        }
        &.selected {
          a { background:#2b2b2b; color:white; }
        }
      }
    }
  }
}
.select-picker(@rules) {
  .bootstrap-select { @rules(); }
}

// Black title
.black-title {
  text-transform: uppercase;
  font-size: 14px;
  color: black;
  font-weight:bold;
  clear:both;
  &.large {
    font-size:36px; font-weight:normal; text-transform:none;
    span:after { margin-top:12px; }
    .xs({ font-size:20px; });
  }
  &.full {
    span:after { width:100%; }
  }
  &.fat {
    font-size:30px;
    span:after { height:10px; margin-top:15px; }
  }
  span {
    display:inline-block;
    &:after {
      content:""; display:block; width:40px; height:3px; background:black; margin-top:5px;
      .xs({ height:1px; width:25px; });
    }
  }
}

// Lists
.double-arrow-list {
  li {
    > a {
      @right-hand-offset: 15px;
      position:relative; color:white; height:35px; box-sizing:content-box; display:block; line-height:35px; padding-right:@right-hand-offset; .overflow-ellipsis();
      &:after { content:"\00BB" /* » */; display:block; position:absolute; right:0; top:0; line-height:35px; color:black; opacity:.4; }
      &:hover, &:active, &:focus {
        font-weight:bold; text-decoration:none;
        &:after { opacity:1; color:white; font-weight:normal; }
      }
    }
    &.active a {
      font-weight:bold;
      &:after { opacity:1; color:white; font-weight:normal; }
    }
  }
  &.thin {
    li {
      > a {
        font-size:18px; height:auto; overflow:visible; text-overflow:none; white-space:normal; line-height:1.1; margin-bottom:9px;
        span { border-bottom:1px solid @grey; line-height:auto; display:inline-block; padding-bottom:9px; width:calc(~"100% - 40px - 60px") }
        &:after { opacity:1; color:rgba(0,0,0,.4); border-bottom:1px solid @grey; vertical-align:top; display:inline-block; width:40px; text-align:center; line-height:1.1; height:100%; }
        &:hover {
          font-weight:normal;
          &:after { color:black; }
        }
      }
    }
  }
  &.double-col {
    .columns(2);
  }
  .xs({
    li {
      > a { font-size:12px; }
    }
    &.thin {
      li {
        > a {
          font-size:12px;
          span { width:calc(~"100% - 30px - 10px") }
          &:after { width:30px; }
        }
      }
    }
    });
}
.bullet-list {
  padding-left:30px;
  > li {
    margin-bottom:7px;
    &:before { .fa(); content:"\f111"; display:inline-block; vertical-align:top; width:25px; font-size:10px; padding-top:7px; }
    a {
      display:inline-block; font-size:18px; border-bottom:1px solid; padding-bottom:5px; max-width:calc(~"100% - 25px - 4px");
      &:hover { text-decoration:none; }
    }
  }
  .xs({
    padding:0;
    > li {
      margin-bottom:5px;
      &:before { width:18px; font-size:7px; }
      a { font-size:12px; padding-bottom:3px; max-width:calc(~"100% - 18px - 3px"); }
    }
    });
}

.black-numbers {
  counter-reset: item;
  > li {
    padding-left:5px;
    span { display:inline-block; width:calc(~"100% - 30px - 20px"); vertical-align:top }
    + li {
      margin-top:35px;
      .xs({ margin-top:20px });
    }
    &:before {
      display: inline-block;
      vertical-align:middle;
      content: "0" counter(item);
      counter-increment: item;
      width:30px;
      margin-right:20px;
      font-size:48px;
      direction:rtl;
      line-height:1.1;
      border-bottom:3px solid;
      font-weight:100;
      letter-spacing:-3px;
      .xs({ font-size:24px; width:15px; letter-spacing:-2px; border-bottom-width:2px; margin-right:15px });
    }
  }
}

// Helpers
.flexed {
  .flex();
}
.flexed-row {
  .flex();
  .xs({ flex-direction:row !important; display:flex; });
}
.col-sm-7.pc55 { width:55% }
.col-sm-5.pc45 { width:45% }
.no-mobile-bottom-padding { .xs({ padding-bottom:0 !important; }); }
.no-mobile-top-padding { .xs({ padding-top:0 !important; }); }

// Small logo
.small-logo {
  .xs({
    .main-header .main-nav .main-nav__list > li.home a { border-width:5px; height:65px; width:65px }
    });
}

.carrousel-home {
  margin-bottom: 45px;
  h2 { font-size: 50px; color: #FFF; font-weight: 800; margin-bottom: 15px;}
  p { font-size: 16px; font-weight: 500 ;margin-bottom: 35px; max-width: 420px;}
  .btn { padding-left: 25px; padding-right: 25px; height: 50px; padding-top: 13px; min-width: 255px;}
  .carousel-inner {
    .item {
      background:@grey center center no-repeat;
      background-size:cover;
      height:700px;
      overflow:hidden;
      img { opacity:0; }
    }
  }
  .carousel-control , .carousel-indicators{display: none;}
  .carousel-caption {
    // right: 20%;
    left: initial;
    right: initial;
    // padding-bottom: 30px;
    bottom: 55px;
    max-width: 485px;
    text-align: left;
    text-shadow: none;
  }
  .filter{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: -moz-linear-gradient(45deg,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 60%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(0,0,0,0.8)), color-stop(60%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(45deg,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 60%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(45deg,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 60%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(45deg,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 60%,rgba(0,0,0,0) 100%);
    background: linear-gradient(45deg,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 60%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#00000000',GradientType=1 );
  }
}

// Pagination
.pagination {
  font-size:20px; font-weight:100; padding-top:15px;
  .further, .pages {
    display:inline-block; vertical-align:middle;
    > a {
      color:black; display:inline-block; padding:0 8px;
      &.active { font-weight:bold }
      &:hover { text-decoration:none }
    }
  }
  .further a { font-size:16px; padding:0 3px; }
}
