@use "../mixins/breakpoints";
@use "../mixins/rem";
@use "../variables";
@use "iconfont";

/* ---- Alerts ---- */
.alert { 
    margin-bottom: rem.rem(30px); font-weight: 400; padding: rem.rem(10px) rem.rem(12px); border-radius: 10px; border: 1px solid; position: relative; text-align: left; display: flex; align-items: center; justify-content: start;
    @include breakpoints.max(xs){ margin-bottom: rem.rem(20px); text-align: left;}

    &:before { margin-right: rem.rem(12px); font-size: rem.rem(20px); line-height: 1;}

    // +.alert { 
    //     margin-top: rem(-15px);
    //     @include max(xs){ margin-top: rem(-5px);}
    // }
}

.alert-success {
    border-color: variables.$green; color: variables.$green; background: rgba(variables.$green, .1); justify-content: left; text-align: left;
    @include iconfont.icon(euro);

    a { color: variables.$green; text-decoration: underline;}
}


.alert-danger {
    border-color: variables.$danger; color: variables.$danger; background: rgba(variables.$danger, .1); justify-content: left; text-align: left;
    // @include icon(danger);

    a { color: variables.$danger; text-decoration: underline;}
}

.alert-warning {
    border-color: variables.$warning; color: variables.$warning; background: rgba(variables.$warning, .1);
    @include iconfont.icon(warning);

    a { color: variables.$warning; text-decoration: underline;}

}
