/* ---- Breadcrumb ---- */
.breadcrumb {
  @extend .list-inline; margin-bottom: 0;
  @include max(xs){ font-size: rem(14px);}

  li {
    @extend .list-inline-item; color: rgba($black, .5);
    a {
      color: $text-color;
      &:hover { color: $text-color; text-decoration: underline;}
    }

    &:not(:last-child){
      margin-right: 0;
      @include icon(chevron-right,after);
      &:after { 
        color: $text-color; display: inline-block; margin: 0 rem(10px) 0 rem(13px); font-size: rem(12px);
        @include max(xs){ font-size: rem(10px); margin: 0 rem(10px) 0 rem(12px);}
      }
    }
  }
}

