@use "../mixins/breakpoints";
@use "../mixins/rem";
@use "../variables";
@use "iconfont";

/* ---- Breadcrumb ---- */
.breadcrumb {
  padding-left: 0; list-style: none; margin-bottom: 0; font-size: rem.rem(14px);

  li {
    display: inline-block; color: rgba(variables.$black, .5); vertical-align: top;
    a {
      color: variables.$text-color;
      &:hover { color: variables.$text-color; text-decoration: underline;}
    }

    &:not(:last-child){
      margin-right: 0;
      @include iconfont.icon(chevron-right,after);
      &:after { 
        color: variables.$text-color; display: inline-block; margin: 0 rem.rem(10px) 0 rem.rem(13px); font-size: rem.rem(11px);
        @include breakpoints.max(xs){ font-size: rem.rem(10px); margin: 0 rem.rem(10px) 0 rem.rem(12px);}
      }
    }
  }
}

// White breadcrumb
.white-breadcrumb, %white-breadcrumb {
  li {
    color: variables.$white;
    a {
      color: variables.$white;
      &:hover { color: variables.$white; text-decoration: underline;}
    }
    &:not(:last-child){
      &:after { color: variables.$white;}
    }
  }
}
