/* ---- Buttons ---- */
.btn {
  border: 0;
  border-radius: 0;
  font-weight: 500;
  font-size: rem(18px);
  min-height: $btn-height;
  text-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  text-decoration: none;
  white-space: normal;
  padding: rem(10px) rem(30px);
  background-image: none;
  box-shadow: initial;
  transition: 0.3s;
  &:focus , &:active , &:active:focus { outline: none; box-shadow: none; text-decoration: none;}
  &:hover { text-decoration: none;}

  &.btn-full { width: 100%; }

  &.btn-icon {
    position: relative; padding-left: rem(45px);
    @include icon(kernix);
    &:before {
      font-size: rem(18px); display: inline-block; position: absolute; top: 50%; left: 15px; transform: translateY(-50%);
    }
  }

  &.btn-link {
    min-height: initial; padding: 0; color: $text-color;
  }

  &.btn-arrow-right-link {
    @include icon(arrow-right,after); position: relative; padding-right: rem(56px); min-height: 44px; display: flex; width: fit-content; align-items: center;

    &:after {
      width: 44px; height: 44px; line-height: 42px; text-align: center; background: $white; border-radius: 50%; display: block; position: absolute; right: 0; top: 0; transition: .3s;
    }

    &:focus , &:hover { 
      &:after { background: $black; color: $white;}
    }
  }

  &.btn-menu {
    display: none; width: 50px; height: 50px; position: relative; float: right; background: rgba($black, .05);
    @include max(md){ display: block;}

    &:hover, &:focus { background: rgba($black, .05);}
    span {
      display: block;
      @include burger(18px, 2px, 3px, $text-color); position: absolute; top: 50%; left: 50%; margin-left: rem(-9px); margin-top: rem(-1px);
    }

    &.clicked {
      span {
        @include burger-to-cross;
      }
    }
  }

  &.btn-primary {
    color: $white; background-color: $primary; border: 1px solid $primary;
    &:focus, &:hover, &:active:focus { background: transparent; color: $primary;}
  }

  &.btn-outline-primary {
    color: $primary; background-color: transparent; border: 1px solid $primary;
    &:focus, &:hover, &:active:focus { background: $primary; color: $white;}
  }

  &.btn-secondary {
    color: $black; background-color: $secondary; border: 1px solid $secondary;
    &:focus, &:hover, &:active:focus { background: transparent; color: $white;}
  }

  &.btn-outline-secondary {
    color: $secondary; background-color: transparent; border: 1px solid $secondary;
    &:focus, &:hover, &:active:focus { background: $secondary; color: $white;}
  }

  &.btn-tertiary {
    color: $white; background-color: $tertiary;
    &:focus, &:hover, &:active:focus { background-color: transparentize($tertiary, 0.2); border-color: transparentize($tertiary, 0.2);}
  }

  &.btn-outline-tertiary {
    color: $tertiary; background-color: transparent; border: 1px solid $tertiary;
    &:focus, &:hover, &:active:focus { background: $tertiary; color: $white;}
  }

  &.btn-outline-info {
    color: $primary; background-color: transparent; border: 1px solid $info;
    &:focus, &:hover, &:active:focus { background: $info; color: $white;}
  }

  &.btn-outline-danger {
    color:$danger; background-color: transparent; border: 1px solid $danger;
    &:focus, &:hover, &:active:focus { background: $danger; color: $white;}
  }

  &.btn-outline-warning {
    color: $warning; background-color: transparent; border: 1px solid $warning;
    &:focus, &:hover, &:active:focus { background: $warning; color: $white;}
  }

  &.btn-outline-success {
    color: $success; background-color: transparent; border: 1px solid $success;
    &:focus, &:hover, &:active:focus { background: $success; color: $white;}
  }

  &.btn-top {
    position: fixed; bottom: 50px; right: 50px; z-index: 53; border-radius: 100px; box-shadow: 0 2px 15px 0 rgba($black, 0.1); background: $white; padding: 0; min-height: auto; width: 48px; height: 48px; line-height: 48px; text-align: center; opacity: 0; pointer-events: none; color: $primary;
    @include max(md){ width: 44px; height: 44px; line-height: 44px; bottom: 20px; right: 20px; }
    @include icon(arrow-up);
    &:before { font-size: rem(16px);}
    &:hover { background: $primary; color: $white;}

    &.show {
      opacity: 1; pointer-events: initial;
    }
  }
  
  &.btn-lg {
    padding: rem(15px) rem(25px);
  }

  &.btn-sm {
    padding: rem(5px) rem(9px); min-height: 30px;
  }

  &[disabled] {
    pointer-events: none; opacity: 0.5;
  }
}