/* ---- Buttons ---- */
.btn, %btn {
  border: 0;
  border-radius: 0;
  font-weight: 500;
  font-size: rem(18px);
  min-height: $btn-height;
  text-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  text-decoration: none;
  white-space: normal;
  padding: rem(10px) rem(30px);
  background-image: none;
  box-shadow: initial;
  transition: 0.3s;
  background: transparent;
  &:focus { box-shadow: none; text-decoration: none;}
  &:active , &:active:focus, &:focus-visible { outline: none; box-shadow: none; text-decoration: none;}
  &:hover { text-decoration: none;}
  &:focus-visible { outline: auto !important;}

  &.btn-full { width: 100%; }
  
  &.btn-lg {
    padding: rem(15px) rem(25px);
  }

  &.btn-sm {
    padding: rem(5px) rem(9px); min-height: 30px;
  }

  &.btn-xs-full {
    @include max(xs){ width: 100%;}
  }

  &[disabled] {
    pointer-events: none; opacity: 0.5;
  }
}

.btn-icon {
  position: relative; padding-left: rem(45px);
  @include icon(kernix);
  &:before {
    font-size: rem(18px); display: inline-block; position: absolute; top: 50%; left: 15px; transform: translateY(-50%);
  }
}

.btn-link {
  min-height: initial; padding: 0; color: $text-color; border-radius: 0; border: 0;
}

.btn-arrow-right-link {
  @include icon(arrow-right,after); position: relative; padding-right: rem(56px); min-height: 44px; display: flex; width: fit-content; align-items: center;

  &:after {
    width: 44px; height: 44px; line-height: 42px; text-align: center; background: $white !important; border-radius: 50%; display: block; position: absolute; right: 0; top: 0; transition: .3s;
  }

  &:focus , &:hover { 
    &:after { background: $black !important; color: $white;}
  }
}

.btn-menu {
  display: none; width: 50px; height: 50px; position: relative; float: right; background: rgba($black, .05);
  @include max(md){ display: block;}

  &:hover, &:focus { background: rgba($black, .05);}
  span {
    display: block;
    @include burger(18px, 2px, 3px, $text-color); position: absolute; top: 50%; left: 50%; margin-left: rem(-9px); margin-top: rem(-1px);
  }

  &.clicked {
    span {
      @include burger-to-cross;
    }
  }
}

.btn-primary {
  color: $white; background-color: $primary; border: 1px solid $primary;
  &:focus, &:hover, &:active:focus, &:focus-visible { background: transparent; color: $primary;}
}

.btn-outline-primary {
  color: $primary; background-color: transparent; border: 1px solid $primary;
  &:focus, &:hover, &:active:focus, &:focus-visible { background: $primary; color: $white;}
}

.btn-secondary {
  color: $black; background-color: $secondary; border: 1px solid $secondary;
  &:focus, &:hover, &:active:focus, &:focus-visible { background: transparent; color: $white;}
}

.btn-outline-secondary {
  color: $secondary; background-color: transparent; border: 1px solid $secondary;
  &:focus, &:hover, &:active:focus, &:focus-visible { background: $secondary; color: $white;}
}

.btn-tertiary {
  color: $white; background-color: $tertiary;
  &:focus, &:hover, &:active:focus, &:focus-visible { background-color: transparentize($tertiary, 0.2); border-color: transparentize($tertiary, 0.2);}
}

.btn-outline-tertiary {
  color: $tertiary; background-color: transparent; border: 1px solid $tertiary;
  &:focus, &:hover, &:active:focus, &:focus-visible { background: $tertiary; color: $white;}
}

.btn-outline-info {
  color: $primary; background-color: transparent; border: 1px solid $info;
  &:focus, &:hover, &:active:focus, &:focus-visible { background: $info; color: $white;}
}

.btn-outline-danger {
  color:$danger; background-color: transparent; border: 1px solid $danger;
  &:focus, &:hover, &:active:focus, &:focus-visible { background: $danger; color: $white;}
}

.btn-outline-warning {
  color: $warning; background-color: transparent; border: 1px solid $warning;
  &:focus, &:hover, &:active:focus, &:focus-visible { background: $warning; color: $white;}
}

.btn-outline-success {
  color: $success; background-color: transparent; border: 1px solid $success;
  &:focus, &:hover, &:active:focus, &:focus-visible { background: $success; color: $white;}
}

.btn-white {
  color: $white; background-color: $white; border: 1px solid $white;
  &:focus, &:hover, &:active:focus, &:focus-visible { background: $primary; color: $white;}
}

.btn-white-outline {
  color: $white; background-color: transparent; border: 1px solid $white;
  &:focus, &:hover, &:active:focus, &:focus-visible { background: $white; color: $primary;}
}

.btn-play-pause {
  z-index: 2; border: 1px solid rgba($primary, 0.5); width: 40px; height: 40px; display: flex; align-items: center; justify-content: center; border-radius: 50%; color: $primary; font-size: rem(14px);
  &:hover, &:focus { background: $primary; color: $white; } 
  i { line-height: 1; display: inline-block; vertical-align: middle; 
    &.icon-play { position: relative; right: -1px;}
  } 

  &.btn-white-play-pause {
    color: $primary; border-color: $white; background: $white; 
    &:hover, &:focus { background: transparent; color: $white; border-color: $white; } 
  }
}

.btn-c-transcription {
  z-index: 2; border: 1px solid $white; width: 40px; height: 40px; display: flex; align-items: center; justify-content: center; border-radius: 50%; color: $primary; font-size: rem(14px); background: $white;
  &:hover, &:focus { background: transparent; color: $white; border-color: $white;}
  i { line-height: 1; display: inline-block; vertical-align: middle; font-size: rem(12px); } 
  span {
    display: inline-block; white-space: normal;
  }
}

.btn-top {
  position: fixed; bottom: 50px; right: 50px; z-index: 53; border-radius: 100px; box-shadow: 0 2px 15px 0 rgba($black, 0.1); background: $white !important; padding: 0; min-height: auto; width: 48px; height: 48px; line-height: 48px; text-align: center; opacity: 0; pointer-events: none; color: $primary !important;
  @include max(md){ bottom: 20px; right: 20px; }
  @include max(sm){ width: 44px; height: 44px; line-height: 44px; }
  
  @include icon(arrow-up);
  &:before { font-size: rem(16px);}
  &:hover, &:focus, &:focus-visible { background: $primary !important; color: $white !important;}

  &.btn-top-cookie {
    bottom: 90px;
    @include max(md){ bottom: 70px; }
  }

  &.show {
    opacity: 1; pointer-events: initial;
  }
}