@use "sass:color";
@use "../mixins/breakpoints";
@use "../mixins/menu";
@use "../mixins/rem";
@use "../variables";
@use "iconfont";

/* ---- Buttons ---- */
.btn, %btn {
  border: 0;
  border-radius: 0;
  font-weight: 500;
  font-size: rem.rem(18px);
  min-height: variables.$btn-height;
  text-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  text-decoration: none;
  white-space: normal;
  padding: rem.rem(10px) rem.rem(30px);
  background-image: none;
  box-shadow: initial;
  transition: 0.3s;
  background: transparent;
  &:focus { box-shadow: none; text-decoration: none;}
  &:active , &:active:focus, &:focus-visible { outline: none; box-shadow: none; text-decoration: none;}
  &:hover { text-decoration: none;}
  &:focus-visible { outline: auto !important;}

  &.btn-full { width: 100%; }
  
  &.btn-lg {
    padding: rem.rem(15px) rem.rem(25px);
  }

  &.btn-sm {
    padding: rem.rem(5px) rem.rem(9px); min-height: 30px;
  }

  &.btn-xs-full {
    @include breakpoints.max(xs){ width: 100%;}
  }

  &[disabled] {
    pointer-events: none; opacity: 0.5;
  }
}

.btn-icon {
  position: relative; padding-left: rem.rem(45px);
  @include iconfont.icon(kernix);
  &:before {
    font-size: rem.rem(18px); display: inline-block; position: absolute; top: 50%; left: 15px; transform: translateY(-50%);
  }
}

.btn-link {
  min-height: initial; padding: 0; color: variables.$text-color;
}

.btn-arrow-right-link {
  @include iconfont.icon(arrow-right,after); position: relative; padding-right: rem.rem(56px); min-height: 44px; display: flex; width: fit-content; align-items: center;

  &:after {
    width: 44px; height: 44px; line-height: 42px; text-align: center; background: variables.$white !important; border-radius: 50%; display: block; position: absolute; right: 0; top: 0; transition: .3s;
  }

  &:focus , &:hover { 
    &:after { background: variables.$black !important; color: variables.$white;}
  }
}

.btn-menu {
  display: none; width: 50px; height: 50px; position: relative; float: right; background: rgba(variables.$black, .05);
  @include breakpoints.max(md){ display: block;}

  &:hover, &:focus { background: rgba(variables.$black, .05);}
  span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: rem.rem(-9px);
    margin-top: rem.rem(-1px);
    @include menu.burger(18px, 2px, 3px, variables.$text-color);
  }

  &.clicked {
    span {
      @include menu.burger-to-cross;
    }
  }
}

.btn-primary {
  color: variables.$white; background-color: variables.$primary; border: 1px solid variables.$primary;
  &:focus, &:hover, &:active:focus, &:focus-visible { background: transparent; color: variables.$primary;}
}

.btn-outline-primary {
  color: variables.$primary; background-color: transparent; border: 1px solid variables.$primary;
  &:focus, &:hover, &:active:focus, &:focus-visible { background: variables.$primary; color: variables.$white;}
}

.btn-secondary {
  color: variables.$black; background-color: variables.$secondary; border: 1px solid variables.$secondary;
  &:focus, &:hover, &:active:focus, &:focus-visible { background: transparent; color: variables.$white;}
}

.btn-outline-secondary {
  color: variables.$secondary; background-color: transparent; border: 1px solid variables.$secondary;
  &:focus, &:hover, &:active:focus, &:focus-visible { background: variables.$secondary; color: variables.$white;}
}

.btn-tertiary {
  color: variables.$white; background-color: variables.$tertiary;
  &:focus, &:hover, &:active:focus, &:focus-visible { background-color: color.adjust(variables.$tertiary, $alpha: -0.2); border-color: color.adjust(variables.$tertiary, $alpha: -0.2);}
}

.btn-outline-tertiary {
  color: variables.$tertiary; background-color: transparent; border: 1px solid variables.$tertiary;
  &:focus, &:hover, &:active:focus, &:focus-visible { background: variables.$tertiary; color: variables.$white;}
}

.btn-outline-info {
  color: variables.$primary; background-color: transparent; border: 1px solid variables.$info;
  &:focus, &:hover, &:active:focus, &:focus-visible { background: variables.$info; color: variables.$white;}
}

.btn-outline-danger {
  color:variables.$danger; background-color: transparent; border: 1px solid variables.$danger;
  &:focus, &:hover, &:active:focus, &:focus-visible { background: variables.$danger; color: variables.$white;}
}

.btn-outline-warning {
  color: variables.$warning; background-color: transparent; border: 1px solid variables.$warning;
  &:focus, &:hover, &:active:focus, &:focus-visible { background: variables.$warning; color: variables.$white;}
}

.btn-outline-success {
  color: variables.$success; background-color: transparent; border: 1px solid variables.$success;
  &:focus, &:hover, &:active:focus, &:focus-visible { background: variables.$success; color: variables.$white;}
}

.btn-white {
  color: variables.$white; background-color: variables.$white; border: 1px solid variables.$white;
  &:focus, &:hover, &:active:focus, &:focus-visible { background: variables.$primary; color: variables.$white;}
}

.btn-white-outline {
  color: variables.$white; background-color: transparent; border: 1px solid variables.$white;
  &:focus, &:hover, &:active:focus, &:focus-visible { background: variables.$white; color: variables.$primary;}
}

.btn-play-pause {
  z-index: 2; border: 1px solid rgba(variables.$primary, 0.5); width: 40px; height: 40px; display: flex; align-items: center; justify-content: center; border-radius: 50%; color: variables.$primary;
  &:hover, &:focus, &:focus-visible { background: variables.$primary; color: variables.$white; } font-size: rem.rem(14px);
  i { line-height: 1; display: inline-block; vertical-align: middle; 
    &.icon-play { position: relative; right: -1px;}
  } 
}

.btn-top {
  position: fixed; bottom: 50px; right: 50px; z-index: 53; border-radius: 100px; box-shadow: 0 2px 15px 0 rgba(variables.$black, 0.1); background: variables.$white !important; padding: 0; min-height: auto; width: 48px; height: 48px; line-height: 48px; text-align: center; opacity: 0; pointer-events: none; color: variables.$primary !important;
  @include breakpoints.max(md){ bottom: 20px; right: 20px; }
  @include breakpoints.max(sm){ width: 44px; height: 44px; line-height: 44px; }
  
  @include iconfont.icon(arrow-up);
  &:before { font-size: rem.rem(16px);}
  &:hover, &:focus, &:focus-visible { background: variables.$primary !important; color: variables.$white !important;}

  &.btn-top-cookie {
    bottom: 90px;
    @include breakpoints.max(md){ bottom: 70px; }
  }

  &.show {
    opacity: 1; pointer-events: initial;
  }
}