/* ---- Carousels ---- */
.carousel-home {
  .carousel-inner {
    .carousel-item {
      @include bgc(center, center, $grey); height: 700px; overflow: hidden;
      &:after { background-color: rgba($black, 0.5); content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1;}
    }

    .carousel-caption {
      z-index: 2;
    }
  }

  // .carousel-control-prev, carousel-control-next , .carousel-indicators { display: none;}
  
  .carousel-caption {
    left: initial; right: initial; bottom: 55px; max-width: 485px; text-align: left; text-shadow: none;
  }
}
