@use "../variables";

/* ---- Container ---- */
.container-xl {
  max-width: calc(1360px + #{variables.$grid-gutter-width});
}

.container-md {
  max-width: calc(996px + #{variables.$grid-gutter-width});
}

.container-sm {
  max-width: calc(790px + #{variables.$grid-gutter-width});
}

