
/* ---- Cookie (Tarteaucitron) ---- */
#tarteaucitronCookiesNumber, #tarteaucitronDot, .tarteaucitronSelfLink  { display: none !important;}

#tarteaucitronRoot {
  z-index: 78;
  * { font-family: $font-family-base !important; box-sizing: border-box !important;}

  // Overlay
  button#tarteaucitronBack {
    background: $text-color !important; opacity: 0.3 !important;
  }

  #tarteaucitron {
    top: 200px !important; background: transparent; width: 730px;
    @include max(md){ top: 100px !important; }
    @include max(xs){ left: 40px !important; right: 40px !important; margin: auto; top: 80px !important; width: auto !important; }

    #tarteaucitronClosePanel {
      @extend.btn; min-height: auto; background: transparent; font-size: 0; position: absolute; right: 25px; padding: 0; top: 25px; min-height: auto; height: auto; line-height: 1;
      @include max(xs){ right: 15px; top: 15px}
      @include icon(close, before); width: auto;
      &:hover, &:focus {
        &:before { color: $primary;}
      }
      &:before {
        color: $text-color; font-size: rem(18px);
        @include max(xs){ font-size: rem(14px);}
      }
    }

    #tarteaucitronServices {
      padding: rem(30px); background: $white; margin: 0 !important; height: 100% !important; max-height: 80vh; box-shadow: 0 5px 40px 0 rgba($black, 0.3); border-radius: 0;
      @include max(xs){ height: auto !important; max-height: calc(100vh - 160px)!important; padding: 0;}

      #tarteaucitronServices_mandatory {
        .tarteaucitronLine button.tarteaucitronAllow { opacity: 1;}
        .tarteaucitronName {
          br,.tarteaucitronListCookies { display: none;}
        }
        .tarteaucitronH3 {
          margin-bottom: 0;
        }
      }

      .tarteaucitronAllow {
        @extend .btn; background: $primary !important; padding: 0 rem(20px); color: $white !important; font-family: $font-family-base !important; font-size: rem(18px) !important; min-height: 44px; margin: 0; font-weight: 500; margin-right: rem(11px); border: 1px solid $primary !important; 
        * { box-sizing: border-box !important; color: $white !important; font-family: $font-family-base !important;}

        &:hover { background: $white !important; color: $primary !important;}

        .tarteaucitronCheck { display: none;}
        @include max(xs){ font-size: rem(14px) !important; min-height: 35px;}
      }

      .tarteaucitronDeny {
        @extend .btn; background: $white !important; padding: 0 rem(20px); color: $primary !important; font-family: $font-family-base !important; font-size: rem(18px) !important; min-height: 44px; margin: 0; border: 1px solid $primary; font-weight: 500;
        @include max(xs){ font-size: rem(14px) !important; min-height: 35px;}

        &:hover { background: $primary !important; color: $white !important;}

        .tarteaucitronCross { display: none;}

        * { box-sizing: border-box !important; color: $white !important; font-family: $font-family-base !important;}
      }

       .tarteaucitronMainLine {
         background: transparent !important; border: 0; padding: 0 !important; border-top: 0 !important; position: static;
         .tarteaucitronName { display: none;}
         .tarteaucitronAsk, .tarteaucitronName { 
          background: $white !important; color: $text-color; margin: 0 0 rem(-1px) !important; padding: 0 0 rem(30px) 0; min-height: auto; text-align: center; 
          @include max(sm){ float: none; width: 100%; padding: 0 rem(20px); min-height: auto; text-align: center; }
         }
         .tarteaucitronAsk { 
          width: 100% ;
           @include max(sm){ float: none; width: 100%; padding-bottom: rem(20px);}

           .tarteaucitronAllow, .tarteaucitronDeny {
             @include max(xs){ width: 100%; text-align: center;}
             .text-btn, .text-flip-btn {
               @include max(xs){ text-align: center;}
             }
           }

           .tarteaucitronDeny  {
             @include max(xs){ margin-top: rem(8px) !important;}
           }
         }
         .tarteaucitronName {
           width: calc(100% - 455px) !important;
           @include max(sm){ float: none; width: 100% !important; padding-top: rem(20px); padding-bottom: rem(20px);}
           @include max(xs){ text-align: left; line-height: 1.25;}
         }
       }

       .tarteaucitronTitle {
         button { display: none !important;}
       }

       ul {
         .tarteaucitronName {
           @include max(xs){ margin-bottom: rem(15px) !important;}
           span { @include max(xs){ width: auto !important;}}
         }

        .tarteaucitronDeny, .tarteaucitronAllow {
          @include max(xs){ width: calc(50% - 5px) !important; float: left; margin-bottom: 0 !important; }
        }
        .tarteaucitronAllow {
          @include max(xs){ margin-right: rem(10px) !important; }
        }
        .tarteaucitronDeny {
          @include max(xs){ margin-left: 0 !important; }
        }
       }

       .tarteaucitronLine {
          background: $white; border: 0; border-top: 1px solid $grey-50; padding: rem(20px) 0;
          .tarteaucitronAsk { margin-left: auto !important; margin-bottom: 0 !important;}


          .tarteaucitronAsk, .tarteaucitronName {
            background: $white; color: $text-color; margin: 0;
            @include max(xs){ float: none; width: 100% !important;}
           

          }
       }

       .tarteaucitronH2, .tarteaucitronH3 { color: $text-color; font-family: $font-family-base !important; margin: 0;}

       .tarteaucitronH3 { 
        font-size: rem(18px); margin-bottom: rem(5px); font-weight: 600 !important;
        @include max(xs){ font-size: rem(16px); }
       }

       .tarteaucitronName {
          .tacCurrentStatus, .tarteaucitronReadmoreSeparator, .tarteaucitronListCookies, a {
            color: $text-color; min-height: auto; font-size: rem(16px) !important; line-height: 1.38; font-family: $font-family-base !important; font-weight: 400;
            @include max(xs){ font-size: rem(14px) !important;}
          }
          a { text-decoration: underline; }

       }

       #tarteaucitronScrollbarChild { display: none !important;}

       .tarteaucitronHidden { background: transparent;
        .tarteaucitronLine {
          display: flex; align-items: center;
          @include max(xs){ display: block;}
        }
       }
    }

    .tarteaucitronBorder { border: 0;}

    #tarteaucitronInfo {
      background: transparent; color: $text-color; padding: 0 !important; margin: 0 auto rem(24px)!important; border: 0; font-family: $font-family-base !important; font-size: rem(18px) !important; line-height: 1.33; max-width: 100% !important; width: 100%; font-weight: 400;
      @include max(xs){ padding: 0 rem(20px) rem(16px) !important; margin: 0 !important; font-size: rem(14px) !important;}
      * {
        font-family: $font-family-base !important;
      }
    }

    .tarteaucitronH1 {
      color: $text-color; margin: 0 0 rem(10px) 0; font-size: rem(28px); font-weight: 600; font-family: $font-family-base !important;
      @include max(xs){ padding: rem(25px) rem(20px) 0; font-size: rem(18px); margin-bottom: rem(8px);}
    }
  }

  // Small
  #tarteaucitronAlertSmall {
    right: 50px !important; bottom: 20px !important; border-radius: 0; background: transparent; overflow: hidden; z-index: 1; text-transform: initial;
    @include max(md){ right: 20px !important; bottom: 15px !important; z-index: 3;}
    // @include max(xs){ right: auto !important; bottom: 0; left: 50%; transform: translateX(-50%); z-index: 3;}
    // @include max(md){ right: 20px !important; bottom: 0 !important;}
    // @include max(xs){ right: auto !important; bottom: 0; left: 50%; transform: translateX(-50%); z-index: 3;}

    #tarteaucitronManager {
      @extend .btn; font-size: rem(0) !important; background: $primary ; border-radius: 0; font-family: $font-family-base !important; color: $white !important; min-height: 48px; padding: 0; width: 48px; border-radius: 50%;
      @include max(md){ width: 44px; min-height: 44px;}
      @include max(xs){ white-space: nowrap;}

      @include icon(cookie);
      &:before { font-size: rem(20px);}

      &:hover, &:focus { background: $primary;}
    }
  }

  //Big
  #tarteaucitronAlertBig {
    box-sizing: border-box !important; right: 0; left: 0 !important; bottom: 0; max-width: 100% !important; width: 100% !important; padding: rem(30px) rem(40px) !important; text-align: left !important;   background: $primary !important; z-index: 23 !important;
    @include max(sm){ right: 0; left: 0 !important; bottom: 0; max-width: 100%  !important;}
    @include max(xs){  padding: rem(30px) rem(20px) !important; }

    h2 {
      font-family: $font-family-base !important;
      font-size: rem(24px); font-weight: 600; line-height: 1.25; color: $white; margin-bottom: rem(20px); max-width: 275px; width: 100%;
      @include max(xs){ max-width: 100%; margin-bottom: rem(10px);}
    }
    #tarteaucitronDisclaimerAlert {
      font-size: rem(18px); line-height: 1.33; display: block; margin-bottom: rem(40px); padding: 0;
      div { color: $white !important;}
      @include max(xs){ margin-bottom: rem(20px); font-size: rem(16px);}
      a { text-decoration: underline;
        &:before { content:''; clear: both; display: block;}
      }
    }
    div {
      font-family: $font-family-base !important;
    }
    button, a { font-family: $font-family-base !important;
      * { font-family: $font-family-base !important;}
    }

    #tarteaucitronPersonalize2 { margin: 0;}

    #tarteaucitronAllDenied2 {
      @extend .btn; float: left; box-sizing: border-box !important; margin: 0; border: 1px solid $white; color: $white !important; text-align: center !important; margin-right: rem(15px); min-height: 44px;
      @include max(xs){ width: 100%; margin-right: 0; margin-top: rem(10px);}
      * { box-sizing: border-box !important; color: $white !important; text-align: center !important;}
      .tarteaucitronCross { display: none;}
      &:hover, &:focus { text-decoration: none; background: $white; color: $primary !important;}
    }
    #tarteaucitronCloseAlert {
      @extend .btn; float: right; width: auto; box-sizing: border-box !important; margin: 0; color: $white !important; text-align: center !important; text-transform: initial; text-decoration: underline; border: 0; padding-left: 0; padding-right: 0; font-weight: 500; min-height: 44px;
      * { box-sizing: border-box !important; color: $white !important; text-align: center !important;}
      &:hover, &:focus { text-decoration: underline;}
      @include max(sm){ float: left;}
      @include max(xs){ width: 100%; margin-top: rem(15px); padding: 0; min-height: auto;}
    }
    #tarteaucitronPersonalize2 {
      @extend .btn; float: left; box-sizing: border-box !important; margin: 0; background: $white; border: 1px solid $white; color: $primary !important; margin-right: rem(10px); min-height: 44px;
      @include max(xs){ width: 100%; margin-right: 0;}
      &:hover, &:focus { text-decoration: none; background: transparent; color: $white !important; border: 1px solid $white;}

      .tarteaucitronCheck { display: none;}

      * {
        box-sizing: border-box !important; color: $secondary !important; text-align: center !important;
      }
    }
  }
}
