/*--- Fonts--- */
// Roboto
// Passer par
// <!-- Google fonts -->
// <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
// <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

// <link rel="preload" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
// <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"></noscript> -->
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// Raleway
// @include font-face(Raleway, Regular, '../fonts/Raleway/', 400, normal, woff2 woff ttf );
// @include font-face(Raleway, Heavy,'../fonts/Raleway/', 900, normal, woff2 woff ttf);
