@font-face {
  font-family: "name_project";
  src: url('../fonts/icons/name_project.eot');
  src: url('../fonts/icons/name_project.eot?#iefix') format('eot'),
    url('../fonts/icons/name_project.woff2') format('woff2'),
    url('../fonts/icons/name_project.woff') format('woff'),
    url('../fonts/icons/name_project.ttf') format('truetype'),
    url('../fonts/icons/name_project.svg#name_project') format('svg');
}

@mixin icon-styles {
  font-family: "name_project";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
}

%icon {
  @include icon-styles;
}

@function icon-char($filename) {
  $char: "";

  @if $filename == kernix {
    $char: "\E001";
  }
  @if $filename == test {
    $char: "\E002";
  }

  @return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
  &:#{$insert} {
    @if $extend {
      @extend %icon;
    } @else {
      @include icon-styles;
    }
    content: icon-char($filename);
  }
}

.icon-kernix {
  @include icon(kernix);
}
.icon-test {
  @include icon(test);
}
