/* ---- Icons Font ---- */
@font-face {
  font-family: "name_project";
  src: url('../fonts/icons/name_project.eot');
  src: url('../fonts/icons/name_project.eot?#iefix') format('eot'),
    url('../fonts/icons/name_project.woff2') format('woff2'),
    url('../fonts/icons/name_project.woff') format('woff'),
    url('../fonts/icons/name_project.ttf') format('truetype'),
    url('../fonts/icons/name_project.svg#name_project') format('svg');
  font-display: swap;
}

@mixin icon-styles {
  font-family: "name_project", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
}

%icon {
  @include icon-styles;
}

@function icon-char($filename) {
  $char: "";

  @if $filename == X {
    $char: "\E001";
  }
  @if $filename == arrow-left {
    $char: "\E002";
  }
  @if $filename == arrow-right {
    $char: "\E003";
  }
  @if $filename == arrow-up {
    $char: "\E004";
  }
  @if $filename == calendar {
    $char: "\E005";
  }
  @if $filename == chat-text {
    $char: "\E006";
  }
  @if $filename == check {
    $char: "\E007";
  }
  @if $filename == chevron-down {
    $char: "\E008";
  }
  @if $filename == chevron-left {
    $char: "\E009";
  }
  @if $filename == chevron-right {
    $char: "\E00A";
  }
  @if $filename == close {
    $char: "\E00B";
  }
  @if $filename == cookie {
    $char: "\E00C";
  }
  @if $filename == download {
    $char: "\E00D";
  }
  @if $filename == external-link {
    $char: "\E00E";
  }
  @if $filename == eye-slash {
    $char: "\E00F";
  }
  @if $filename == eye {
    $char: "\E010";
  }
  @if $filename == facebook {
    $char: "\E011";
  }
  @if $filename == instagram {
    $char: "\E012";
  }
  @if $filename == kernix {
    $char: "\E013";
  }
  @if $filename == linkedin {
    $char: "\E014";
  }
  @if $filename == mail {
    $char: "\E015";
  }
  @if $filename == minus {
    $char: "\E016";
  }
  @if $filename == pause {
    $char: "\E017";
  }
  @if $filename == play-round {
    $char: "\E018";
  }
  @if $filename == play {
    $char: "\E019";
  }
  @if $filename == plus {
    $char: "\E01A";
  }
  @if $filename == quote {
    $char: "\E01B";
  }
  @if $filename == search {
    $char: "\E01C";
  }
  @if $filename == test {
    $char: "\E01D";
  }
  @if $filename == twitter {
    $char: "\E01E";
  }
  @if $filename == youtube {
    $char: "\E01F";
  }

  @return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
  &:#{$insert} {
    @if $extend {
      @extend %icon;
    } @else {
      @include icon-styles;
    }
    content: icon-char($filename);
  }
}

.icon-X {
  @include icon(X);
}
.icon-arrow-left {
  @include icon(arrow-left);
}
.icon-arrow-right {
  @include icon(arrow-right);
}
.icon-arrow-up {
  @include icon(arrow-up);
}
.icon-calendar {
  @include icon(calendar);
}
.icon-chat-text {
  @include icon(chat-text);
}
.icon-check {
  @include icon(check);
}
.icon-chevron-down {
  @include icon(chevron-down);
}
.icon-chevron-left {
  @include icon(chevron-left);
}
.icon-chevron-right {
  @include icon(chevron-right);
}
.icon-close {
  @include icon(close);
}
.icon-cookie {
  @include icon(cookie);
}
.icon-download {
  @include icon(download);
}
.icon-external-link {
  @include icon(external-link);
}
.icon-eye-slash {
  @include icon(eye-slash);
}
.icon-eye {
  @include icon(eye);
}
.icon-facebook {
  @include icon(facebook);
}
.icon-instagram {
  @include icon(instagram);
}
.icon-kernix {
  @include icon(kernix);
}
.icon-linkedin {
  @include icon(linkedin);
}
.icon-mail {
  @include icon(mail);
}
.icon-minus {
  @include icon(minus);
}
.icon-pause {
  @include icon(pause);
}
.icon-play-round {
  @include icon(play-round);
}
.icon-play {
  @include icon(play);
}
.icon-plus {
  @include icon(plus);
}
.icon-quote {
  @include icon(quote);
}
.icon-search {
  @include icon(search);
}
.icon-test {
  @include icon(test);
}
.icon-twitter {
  @include icon(twitter);
}
.icon-youtube {
  @include icon(youtube);
}
