/* ---- Lists ---- */
ol, ul {
  padding-left: rem(18px);
}

// List Icons
.list-icon {
  $width-icon: 25px; margin-bottom: 0;

  li {
    @include icon(kernix);
    &:before { display: inline-block; margin-right: rem(8px); }
  }
  > li {
    span { display: inline-block; width: calc(100% - #{$width-icon}); vertical-align: top;}
    ul , ol {
      padding-left: rem(15px);
      > li {
        @include icon(facebook);
      }
    }
  }
}

// List icon align
.list-icon-align {
  $width-icon: 25px; margin-bottom: 0;

  li {
    padding-left: 25px; position: relative;
    @include icon(kernix);
    &:before { display: inline-block; margin-right: rem(8px); }
  }
  > li {
    @include icon(kernix);
    &:before {
      position: absolute; left: 0; top: 2px;
    }
    span { display: inline-block; width: calc(100% - #{$width-icon}); vertical-align: top;}
    ul , ol {
      padding-left: rem(15px);
      > li {
        &:before {
          content: "\f1f2";
        }
      }
    }
  }
} 