/* ---- Pagination ---- */

.pagination-nav {
    ul {
        @extend .list-inline; margin-bottom: 0; display: flex; margin: 0 auto rem(-10px); width: fit-content; flex-wrap: wrap;
        li {
            margin: 0 rem(5px) rem(10px);
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
            &.active {
                .page-link {
                    background-color: $grey;
                }
            }
        }

        .page-numbers, .page-link {
            width: 50px; height: 50px; line-height: 48px; display: block; text-align: center; color: $text-color; font-size: rem(18px); font-weight: 500;
            &:hover, &:focus { text-decoration: none; background-color: $grey;}

            &.dots { pointer-events: none; margin-left: rem(-10px); margin-right: rem(-10px);}
            &.current {
                background-color: $grey;
            }
            &.page-prev, &.page-next, &.prev, &.next {
                @extend .btn; @extend .btn-primary; color: $white; padding: 0; font-size: rem(15px); line-height: 48px;
            }
        }
    }
}