/* ---- General rules ---- */
:root {
  --tertiary: #{$tertiary};
  --text-color: #{$text-color};
}

// HTML
html { 
  height: 100%; 
  &.overflow {
    @include max(md){ overflow: hidden;}
  }
  &.overflow-search {
    overflow: hidden;
  }
}

// Body
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-stretch: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.33;
  font-weight: 400;

  &.overflow {
    @include max(md){ overflow: hidden;}
  }

  &.header-fix {
    padding-top: var(--height);
  }
  &.overflow-search {
    overflow: hidden;
  }
}

// Title
h1, h2, h3, h4, h5, h6 { margin-top: 0; line-height: 1.33; font-weight: 600; }

// Image
img { max-width: 100%; }

// Link
a {
  outline: 0; transition: 0.3s; text-decoration: none;
  &.url { word-break: break-all; }
  &:hover, &:focus { text-decoration: underline;}

  // Accessibility
  // &:focus {
  //   .html-focus & {
  //     box-shadow: 0 0 0 4px rgba($primary,0.5) !important;
  //   }
  // }
}

// Paragraph
p {
  word-wrap: break-word;
}

.text-break {
  @media screen and (min-width:0\0) { word-break: break-all;}
}

// Selection Text
::-moz-selection { color: $white; background: darken($primary, 10%); }
::selection { color: $white; background: darken($primary, 10%); }

// Container
// $gutter: 15px;
// .row { margin-left: -$gutter; margin-right: -$gutter; }
// [class*="col-"]{ padding-left: $gutter; padding-right: $gutter; }
.row-reverse {
  @include max(sm) {
    display: flex; flex-direction: column-reverse;
  }
}

// Fix Google Map
.google-map [aria-hidden] { display: block }

// Admin bar
#wpadminbar {
  @media screen and (max-width: 600px){ position: fixed !important;}
}
#wp-admin-bar-wpseo-menu {
  @media screen and (max-width: 600px){ display: none !important;}
}
#wp-admin-bar-comments {
  display: none;
}

@media (max-width: 1279px) {
  #wp-admin-bar-show_template_file_name_on_top{
      display: none !important;
  }
}