/* ---- Flex ---- */
@mixin flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  @include media-breakpoint-down(sm) {
    display: block;
  }
}
