@use "../variables";
@use "bg-cover";

/* ---- Ratio ---- */
@mixin ratio($width, $height) {
    @include bg-cover.bgc(center, center, variables.$grey);
    &:after {
        content: '';
        display: block;
        padding-bottom: calc(100% / #{$width} *  #{$height} );
    }
}