@use "../../mixins/breakpoints";
@use "../../mixins/rem";
@use "../../variables";

// B20 - Bloc d’information (Mise en avant)
.title-text-section {
    .container {
        @media (max-width:1026px){ padding-left: 0; padding-right: 0;}
    }
}

.title-text-block {
    background: variables.$dark-grey; padding: rem.rem(50px) rem.rem(60px); color: variables.$white;
    @include breakpoints.max(sm){ padding: rem.rem(40px) rem.rem(32px);}
}

.title-text-title {
    font-size: rem.rem(14px); margin-bottom: 0; text-transform: uppercase;
    +.title-text-content { margin-top: rem.rem(20px);}
}

.title-text-content { 
    font-size: rem.rem(21px);
    @include breakpoints.max(xs){ font-size: rem.rem(18px);}
}
