@use "../../mixins/bg-cover";
@use "../../mixins/breakpoints";
@use "../../mixins/rem";
@use "../../variables";

// B18 - Blocs push de contenu
.multi-block-section {
    overflow: hidden;
  
    .row { margin-bottom: rem.rem(-30px); }
    [class*="col-"] {
      padding-bottom: rem.rem(30px);
    }
  }
  
  .push-content-block {
    background: rgba(variables.$black, .1); padding: rem.rem(40px); display: flex; align-items: center; gap: 12px; height: 100%;
    @include breakpoints.max(xs){ display: block; padding: rem.rem(32px);}
  
    // Color section
    .color-section & { background: variables.$white;}

    .push-content-picto {
      width: 48px; height: 48px; @include bg-cover.bgc(center, center, transparent); background-size: contain; margin-bottom: rem.rem(24px);
    }
  
    .push-content-title {
      font-weight: 500; font-size: rem.rem(21px);
      +.push-content-text { 
        margin-top: rem.rem(12px);
      }
    }
  
    .push-content-inner {
      +.push-content-action {
        @include breakpoints.max(xs){ margin-top: rem.rem(24px);}
      }
    }
  
    .push-content-action {
      margin-left: auto;
      a { 
        white-space: nowrap;
        
        // Color section
        .color-section & { 
          color: variables.$primary; 
          &:after { background: rgba(variables.$black,.1);}
          &:hover, &:focus { 
            &:after { background: variables.$primary; color: variables.$white;}
          }
        }
      }
    }
  
    // Alt
    // Alt
    &.push-alt-block {
      align-items: start; flex-direction: column; gap: 0;
      .push-content-inner {
        +.push-content-action {
          margin-top: auto; margin-left: 0;
          .btn {
            margin-top: rem.rem(24px);
          }
        }
      }
      .push-content-action {
        a { white-space: normal;}
      }
    }
  }
  