@use "../../mixins/rem";
@use "../../variables";
@use "../iconfont";

// B22 - Liste de documents à télécharger
.default-alt-list {
    margin-bottom: 0;
    
    li {
        border-top: 1px solid rgba(variables.$black, 0.4); padding: rem.rem(16px) 0;
        a {
            display: flex; justify-content: center; position: relative; padding-right: rem.rem(55px); min-height: 48px; flex-direction: column; color: variables.$text-color;
            &:hover, &:focus { 
                text-decoration: none;
                &:after { background: variables.$black; color: variables.$white;}
            }
        
            @include iconfont.icon(download,after);
            &:after { position: absolute; right: 0; top: 0; background:variables.$white ; height: 44px; width: 44px; line-height: 44px; border-radius: 50%; text-align: center; transition: .3s; }
        }
        
        .default-alt-list-title {
            font-weight: 600; 
            +.default-alt-list-text { margin-top: rem.rem(5px);}
        }
    }
  
    // Link
    &.link-list {
        li {
            a {
                @include iconfont.icon(export,after);
            }
        }
    }
}