@use "../../mixins/breakpoints";
@use "../../mixins/rem";

// B01 - Entête de page
.default-head-section {
    // Title
    .default-head-suptitle { 
        margin-bottom: rem.rem(12px);
        @include breakpoints.max(xs){ margin-bottom: rem.rem(8px);}
    }
    
    .default-head-title { 
        font-size: rem.rem(56px); line-height: 1.21; margin-bottom: 0;
        @include breakpoints.max(xs){ font-size: rem.rem(32px);}

        +.default-head-text { 
            margin-top: rem.rem(30px);
            @include breakpoints.max(xs){ margin-top: rem.rem(12px);}
        }
    }

    // Text
    .default-head-text { 
        font-size: rem.rem(21px); line-height: 1.52;
        @include breakpoints.max(xs){ font-size: rem.rem(18px); line-height: 1.56;}
    }
}