// B09
.img-text-section {
    overflow: hidden;

    .row {
        $gutter: 33px;
        margin-left: -$gutter; margin-right: -$gutter;
        >[class*="col-"] {
            padding-left: $gutter; padding-right: $gutter;
            +[class*="col-"] { 
                @include max(xs){ margin-top: rem(20px);}
            }
        }
    }
}

.default-block {
    .cms-content {
        +.btn {
            margin-top: rem(25px);
        }
    }
}
  