@use "../../mixins/breakpoints";

// B09 - B10 Image droite légende / texte gauche
.img-right-block {
    .row {
        flex-direction: row-reverse;
    }
    .default-figure {
        float: right;
        @include breakpoints.max(xs){ float: none;}
    }
}

.img-alt-block {
    [class*="col-"] {
        $width: 37.419%;
        $gutter: 33px;
        -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto;
        width: calc(100% - $width - ($gutter*2));
        @include breakpoints.max(xs){ width: 100%;}

        &.col-img {
            width: calc($width + ($gutter*2));
            @include breakpoints.max(xs){ width: 100%;}
        }
    }
}