@use "../../mixins/breakpoints";
@use "../../mixins/rem";

// B03 - Titre Image de fond
.bg-full-section {
    &:first-child {
        padding-top: 0;
    }

    .bg-container {
        max-width: 100%; padding: 0;
    }

    .info-text-bg-block { 
        padding-left: 0; padding-right: 0;
    }

    .info-text-bg-content {
        // @extend .container !optional;
        @include breakpoints.max(sm){ padding-left: rem.rem(32px); padding-right: rem.rem(32px);}
    }
} 

.full-carousel-section {
    &.default-section {
        .container-md {
            @include breakpoints.max(sm){ padding-left: rem.rem(32px); padding-right: rem.rem(32px);}
        }
    }
}