@use "../../mixins/breakpoints";
@use "../../mixins/rem";

// B28 - Dernières actualités
.last-news-title {
    font-size: rem.rem(34px); line-height: 1.29; margin-bottom: rem.rem(30px);
    @include breakpoints.max(xs){ font-size: rem.rem(24px); margin-bottom: rem.rem(20px);}
}
  
.last-news-section {
    .row { 
        @include breakpoints.max(xs){ margin-bottom: rem.rem(-32px);}
    }
    [class*="col-"]{ 
        @include breakpoints.max(xs){ padding-bottom: rem.rem(32px);}
    }
}