@use "../../mixins/breakpoints";
@use "../../mixins/rem";
@use "../../variables";

// B14 - Chiffres clés animés
.marquee-main {
overflow-x: hidden;
}

.data-inline-block {
    display: inline-block; font-size: rem.rem(75px); vertical-align: top; padding: 0 rem.rem(4px); color: rgba(variables.$black,.5);
    @include breakpoints.max(xs){ font-size: rem.rem(42px);}

    .data-inline-number {
        font-weight: 500; color: variables.$text-color;
    }
}

.marquee {
    .marquee-inner {
        white-space: nowrap;
        
        mark { color: variables.$white;}
    }

    .marquee-part {
        flex-shrink: 0; padding: 0 4px; font-smooth: always;
    }

    .marquee-content {
        font-size: rem.rem(80px); color: variables.$primary;
        @include breakpoints.max(md){ font-size: rem.rem(64px);}
        @include breakpoints.max(sm){ font-size: rem.rem(40px);}
    }
}
  