// B27 - Chiffres clés animés
.marquee-main {
overflow-x: hidden;
}

.data-inline-block {
    display: inline-block; font-size: rem(75px); vertical-align: top; padding: 0 rem(4px); color: rgba($black,.5);
    @include max(xs){ font-size: rem(42px);}

    .data-inline-number {
        font-weight: 500; color: $text-color;
    }
}

.marquee {
    .marquee-inner {
        white-space: nowrap;
        
        mark { color: $white;}
    }

    .marquee-part {
        flex-shrink: 0; padding: 0 4px; font-smooth: always;
    }

    .marquee-content {
        font-size: rem(80px); color: $primary;
        @include max(md){ font-size: rem(64px);}
        @include max(sm){ font-size: rem(40px);}
    }
}
  