@use "../../mixins/breakpoints";
@use "../../mixins/ratio";
@use "../../mixins/rem";
@use "../../variables";
@use "../iconfont";

// B11 - Citation avec/sans image & B12 - Slider Citations
.quote-block {
	display: flex;
	@include breakpoints.max(xs){ display: block;}
	
	.quote-img {
		@include ratio.ratio(143, 143); width: 143px; margin-right: rem.rem(60px);
		@include breakpoints.max(xs){ margin-bottom: rem.rem(30px);}
	}

	.quote-text {
		font-weight: 500; font-size: rem.rem(24px); line-height: 1.42; color: rgba(variables.$black,.5); border-left: 4px solid rgba(variables.$black,.3); margin-left: rem.rem(-40px); padding-left: rem.rem(36px); margin-bottom: rem.rem(20px);
		@include breakpoints.max(xs){ padding-left: rem.rem(32px); margin-left: rem.rem(-36px);  line-height: 1.52;}
	}

	.quote-content {
		padding-left: rem.rem(40px);
		@include breakpoints.max(xs){ padding-left: rem.rem(36px);}
	}

	.quote-name {
		font-weight: 600; margin-bottom: rem.rem(4px);
	}

	.quote-post {
		color: rgba(variables.$black,.5);
		+.btn { margin-top: rem.rem(24px);}
	}

	.btn-arrow-right-link { 
		&:after { border: 1px solid variables.$black;}
	}

	// Alt
	&.quote-alt-block {
		background: rgba(variables.$black, .1); width: 480px; display: block; height: auto;
		@include breakpoints.max(xs){ width: calc(100vw - 100px);}

		.quote-content {
			padding: rem.rem(40px); display: flex; flex-direction: column; height: 100%;
			@include breakpoints.max(xs){ padding: rem.rem(24px);}

			@include iconfont.icon(quote);
			&:before {
				color: variables.$white; line-height: 1; margin-bottom: rem.rem(20px); font-size: rem.rem(35px);
				@include breakpoints.max(xs){ font-size: rem.rem(30px);}
			}

			// Color section
			.color-section & {
				background: variables.$white;
				&:before { color: rgba(variables.$black, .1); }
			}
		}

		.quote-text {
			font-size: rem.rem(21px); font-weight: 600; line-height: 1.48; border: 0; padding: 0; margin: 0 0 rem.rem(24px);
			@include breakpoints.max(xs){ font-size: rem.rem(16px); line-height: 1.56; margin-bottom: rem.rem(20px);}
		}

		.quote-img { 
			min-width: 85px; width: 85px; margin-right: rem.rem(24px); 
			@include breakpoints.max(xs){ margin-right: 0; min-width: 75px; width: 75px; margin-bottom: rem.rem(15px);}
		}

		.quote-name-content { 
			margin-top: auto; display: flex; align-items: center;
			@include breakpoints.max(xs){ display: block;}

			&.quote-name-img-content {
				min-height: 85px;
				@include breakpoints.max(xs){ min-height: auto;}
			}
		}
	}
}