@use "../../mixins/breakpoints";
@use "../../mixins/rem";
@use "../../variables";

// B27 - Partage des réseaux sociaux
.socials-share-nav {
    border: 1px solid rgba(variables.$black, .1); display: inline-block;
    @include breakpoints.max(sm){ border: 0;}

    ul {
        margin-bottom: 0; 
        &:after {
            content: ''; display: block; clear: both;
        }
        
        li {
            position: relative; float: left;

            +li {
                margin-left: rem.rem(-1px);
                &:before {
                    content:''; position: absolute; width: 1px; height: 20px; background: variables.$grey-30; display: block; top: calc(50% - 2px); left: 0; transform: translateY(-50%); z-index: 1;
                }
            }
            a {
                width: 60px; height: 60px; display: flex; align-items: center; justify-content: center; color: variables.$text-color; text-align: center; font-size: rem.rem(24px); position: relative; z-index: 2; line-height: 1;
                @include breakpoints.max(sm){ height: auto;}
                
                &:hover, &:focus {
                    text-decoration: none; 
                    @include breakpoints.min(md){ background: variables.$text-color; color: variables.$white;}
                }
            }
        }
    }
}