// B24 - Title / Table
.table-grey-block {
    background: rgba($black, .1); padding: rem(40px);
    @include max(xs){ padding: rem(32px);}
}

.table-title {
    font-size: rem(24px); margin-bottom: rem(20px);
    @include max(xs){ font-size: rem(21px);}
}
