@use "../../mixins/breakpoints";
@use "../../mixins/rem";
@use "../../variables";

// B24 - Title / Table
.table-grey-block {
    background: rgba(variables.$black, .1); padding: rem.rem(40px);
    @include breakpoints.max(xs){ padding: rem.rem(32px);}
}

.table-title {
    font-size: rem.rem(24px); margin-bottom: rem.rem(20px);
    @include breakpoints.max(xs){ font-size: rem.rem(21px);}
}
