@use "../../mixins/breakpoints";
@use "../../mixins/rem";
@use "../../variables";

// Sections
.default-section {
    padding: rem.rem(100px) 0;
    @include breakpoints.max(sm){ padding: rem.rem(60px) 0;}

    &:first-child {
        padding-top: rem.rem(30px);
        @include breakpoints.max(xs){ padding-top: rem.rem(16px);}
    }

    +.default-alt-section, +.default-section {
        padding-top: 0;
    }
}

.default-alt-section {
    padding: rem.rem(80px) 0;
    @include breakpoints.max(sm){ padding: rem.rem(40px) 0;}
  
    &:first-child {
        padding-top: rem.rem(30px);
        @include breakpoints.max(xs){ padding-top: rem.rem(16px);}
    }
    
    +.default-alt-section, +.default-section {
        padding-top: 0;
    }
}

.grey-section {
    padding: rem.rem(50px) 0; background: variables.$grey;
    @include breakpoints.max(sm){ padding: rem.rem(40px) 0;}
}

.grey-block {
    padding: rem.rem(70px); background-color: variables.$grey;
    @include breakpoints.max(sm){ padding: rem.rem(32px)}

    .col {
        // @extend .col-sm-6 !optional;
        @include breakpoints.min(sm){
            .col-sm-6 { -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; width: 50%; }
        }
    }
}

.color-section {
    padding: rem.rem(70px) 0;
    @include breakpoints.max(sm){ padding: rem.rem(40px) 0;}
}

.info-text-breadcrumb-section {
    padding-top: 0 !important;

    .breadcrumb-section {
        position: relative; z-index: 4;
    }
    .breadcrumb {
        @extend %white-breadcrumb !optional;
    }

    .info-text-bg-content {
        padding-top: 0 !important;
    }

    .breadcrumb-section {
        .container {
            min-height: auto; padding: 0;
        }
    }
}
  