// Title
.default-suptitle {
    font-weight: 600; font-size: rem(14px); text-transform: uppercase; color: rgba($black,.6); margin-bottom: rem(10px);
}

.default-title {
    font-size: rem(42px); line-height: 1.24; margin-bottom: rem(30px);
    @include max(xs){ font-size: rem(28px); line-height: 1.36; margin-bottom: rem(20px);}
}

.default-h2-title {
    font-size: rem(24px); line-height: 1.42; margin-bottom: rem(16px);
    @include max(xs){ font-size: rem(21px); margin-bottom: rem(12px);}
}

.default-title-block {
    margin-bottom: rem(48px); max-width: 788px; margin-left: auto; margin-right: auto; width: 100%;
    @include max(xs){ margin-bottom: rem(32px);}

    .default-title {
        margin-bottom: 0;
    }
}

.default-head-block {
    margin-bottom: rem(40px);
    @include max(xs){ margin-bottom: rem(20px);}
  
    .default-head-title { margin-bottom: 0;}
}
  
.default-actions {
    padding-top: rem(32px);
}